@import "../../../../scss/variables"; @import '~react-toolbox/lib/base';

.article {
    display: flex;
    padding: 1rem;
    width: 100%;

    .articleContainer {
        background: white;
    }

    &.grid-item {
        padding: 0 1rem 3rem;
    }
    &.selected:not(.shared):not(.testShared) .articleContainer {
        .topBar, .content {
            background: $palette-cyan-100;
        }
    }
    &.sharedTest .articleContainer {
        background-color: $palette-red-100;
    }
    &.shared .articleContainer {
        background-color: $palette-light-green-100;
    }

}

.container {
    display: flex;
    padding: 1rem 1.5rem 2rem;
    flex-wrap: wrap;
    will-change: scroll-position;
}

.articleContainer {
    display: flex;
    flex-direction: column;
}

.content {
    padding: 0 1rem 0;
}

.thumbnail {
    min-height: 14rem;
    max-height: 14rem;
    min-width: 100%;
    max-width: 100%;
    overflow: hidden;
    background-repeat: none;
    background-size: cover;
}

.thumbnail img {
    max-width: 100%;
    min-height: 14rem;
    object-fit: cover;
    animation: fadeIn .5s ease-out;
}

.noImage {
    opacity: 0.1;
    width: 100%;
    background: url(../../../../images/logo.svg) no-repeat center center;
    background-size: cover;
}

.metadata {
    padding: 1rem 0 0.25rem;
    color: rgba(0, 0, 0, 0.54);
}

.site {
    font-weight: bold;
    text-transform: uppercase;
}

.timeAgo {
    padding-left: 0.5rem;
}

.site,
.timeAgo {
    font-size: 1.2rem;
}

.headline {
    display: block;
    margin: 0 0 1rem;
    font-size: 1.6rem;
    font-weight: 500;

    header {
        display: block;
        font-size: 1.6rem;
        line-height: 1.6rem;
        overflow: hidden;
        min-height: calc(1.6rem*3);
        height: calc(1.6rem*3);
        max-height: calc(1.6rem*3);
    }

    a {
        color: black;
        margin-left: .2rem;
        [data-react-toolbox="font-icon"] {
            font-size: 1.6rem;
            position: relative;
            top: .2rem;
        }
    }
}

.headlineTooltip {
    display: none;
}

.headlineIssue {
    .headlineTooltip {
        display: inline-block;
        white-space: normal;
        height: 1.6rem;
        padding: 0;
        [data-react-toolbox="ripple"] {
            display: none;
        }
        [data-react-toolbox="button"] {
            float: right;
        }
        [data-react-toolbox="font-icon"] {
            color: red;
            font-size: 1.6rem;
            line-height: 1.6rem;
        }
        [data-react-toolbox="tooltip"] {
            height: auto;
            width: 250px;
            font-size: 12px;
            left: -20px
        }
    }
}

.description {
    line-height: 1.6rem;
    min-height: calc(1.6rem*3);
    height: calc(1.6rem*3);
    overflow: hidden;
}

.topBar {
    display: flex;
    justify-content: space-between;
}

.actions {
    display: flex;
    padding: 1rem 0;
    align-items: center;
    justify-content: flex-end;
    height: 4.2rem;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1
    }
}

.primaryColor button span {
    color: $color-primary;
}

.articlePerf {
    display: inline-block;
    margin: auto 0px;
    padding: 1px 6px;
    height: 22px;
    &.average {
        background-color: #fb965b;
    }
    &.good {
        background-color: #fac85a;
    }
    &.veryGood {
        background-color: #96e150;
    }
}

@media (min-width: $screen-xs-min) {
    .article {
        padding: 0.5rem;
        width: 50%;
    }
}

@media (min-width: $screen-sm-min) {
    .article {
        width: 33.33%;
    }
}
@media (min-width: 1024px) {
    .article {
        padding: 1rem 2rem 3rem;
        width: 25%;
    }

    .articleContainer:not(:hover) {
        background: none;

        .showOnHover {
            display: none;
        }
    }
}
@media (min-width: $screen-xxl-min) {
    .article {
        width: 20%;
    }
}
@media (min-width: $screen-xxxl-min) {
    .article {
        width: 16.66%;
    }
}
