@import '../../../../scss/variables';

.normal {
    display: none;
}

button[data-react-toolbox]:not([disabled]).mini {
    padding: 0 1rem;
    min-width: initial;
    font-size: 1.3rem;
}

.isOnCard {
    .normal {
        display: inline-block;
    }

    .icon {
        display: none;
    }
}

.isOnTable {
    .normal {
        display: none;
    }

    .icon {
        display: inline-block;
    }
}

@media screen and (min-width: $phone-landscape) {
    .normal {
        display: inline-block;
    }

    .icon {
        display: none;
    }
}
