@import "../../../../scss/variables";

.article {
    display: flex;
    padding: 1rem;
    width: 100%;

    .articleContainer {
        background: white;
    }

    &.grid-item {
        padding: 0 1rem 3rem;
    }
    &.selected:not(.shared):not(.testShared) .articleContainer {
        .content {
            background: $palette-cyan-100;
        }
    }
    &.sharedTest .articleContainer {
        background-color: $palette-red-100;
    }
    &.shared .articleContainer {
        background-color: $palette-light-green-100;
    }

}


.container {
    display: flex;
    padding: 1rem 1.5rem 2rem;
    flex-wrap: wrap;
    will-change: scroll-position;
}

.articleContainer {
    display: flex;
    flex-direction: column;
    position: relative;

}

.content {
    padding: 0 1rem 0;
}

.thumbnail {
    min-height: 14rem;
    max-height: 14rem;
    min-width: 100%;
    max-width: 100%;
    overflow: hidden;
    background-repeat: none;
    background-size: cover;
}

.thumbnail img {
    max-width: 100%;
    min-height: 14rem;
    object-fit: cover;
    animation: fadeIn .5s ease-out;
}

.noImage {
    opacity: 0.1;
    width: 100%;
    background: url(../../../../images/logo.svg) no-repeat center center;
    background-size: cover;
}

.metadata {
    padding: 1rem 0 0.25rem;
}

.site {
    font-weight: bold;
    text-transform: uppercase;
}

.timeAgo {
    padding-left: 0.5rem;
    color: rgba(0, 0, 0, 0.54);
}

.site,
.timeAgo {
    font-size: 1.2rem;
}

.headline {
    display: block;
    margin: 0 0 1rem;

    header {
        display: block;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.8rem;
        overflow: hidden;
        min-height: calc(1.8rem*3);
        height: calc(1.8rem*3);
        max-height: calc(1.8rem*3);
    }

    a {
        color: black;
        margin-left: .2rem;
        [data-react-toolbox="font-icon"] {
            font-size: 1.6rem;
            position: relative;
            top: .2rem;
        }
    }
}

.headlineTooltip {
    display: none;
}

.headlineIssue {
    .headlineTooltip {
        display: inline-block;
        white-space: normal;

        [data-react-toolbox="font-icon"] {
            color: red;
        }
    }
}

.description {
    line-height: 1.6rem;
    min-height: calc(1.6rem*3);
    height: calc(1.6rem*3);
    overflow: hidden;
    word-break: break-all;
}

.topBar {
    display: flex;
    margin-top: -3.6rem;
    position: absolute;
    z-index: 1;
    width: 100%;
    justify-content: space-between;
    transform: translateY(3.6rem);

    [data-react-toolbox="button"] {
        margin: 0;
        background: white;
        border-radius: 0;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
        z-index: 2;
    }

     :global {
        [data-react-toolbox="button"].saved {
            color: $accent-blue;
        }

        .recent_save::after {
            display: inline-block;
            content: "Saved to My Posts";
            padding: 0 1rem;
            position: absolute;
            background: white;
        }

    }
}

:global(#saved) .articleContainer:hover .topBar :global([data-react-toolbox="button"].saved::after) {
    display: block;
    padding: 0 1rem;
    position: absolute;
    top: 0;
    right: -7.5rem;
    content: "Remove";
    cursor: pointer;
    background: white;
}

.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1.4rem 0;
    height: 4.2rem;
}

.action {
    color: $palette-grey-500;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1
    }
}

.primaryColor button span {
    color: $color-primary;
}

.articlePerf {
    display: inline-block;
    margin: auto 0px;
    margin-top: -.25rem;
    padding: 1px 6px;
    height: 22px;
    font-size: 1rem;
    font-weight: bold;
    line-height: 2rem;
    text-transform: uppercase;

    &.average {
        background-color: #fb965b;
    }
    &.good {
        background-color: #fac85a;
    }
    &.veryGood {
        background-color: #96e150;
    }
}

.shareDialog {
    width: 630px;

    h1 {
        color: $gray-4;
        margin: auto;
        display: block;
        width: 300px;
        font-size: 30px;
        text-align: center;
    }

    [data-react-toolbox="button"] {
        margin: 0 0.5rem 0;

        &:last-of-type {
            margin-right: 0;
        }
    }

    [role="body"] {
        padding: 20px;
    }

    nav {
        margin: auto;
        margin-bottom: 30px;

        @media (max-width: 700px) {
            width: 295px;
        }

        button[data-react-toolbox="button"]{
            width: 125px;
            padding: 4px 0px;
            height: auto;
            text-transform: capitalize;
            font-weight: bold;
            margin: 5px;

            &:last-of-type {
                margin-right: 5px;
            }
        }
    }

    .articleDetail {
        width: 100%;
        display: block;
        padding: 20px;

        .articleTitle {
            display: block;
            color: black;
        }

        .shortLink {
            margin-top: 20px;
            display: block;

            &:hover{
                text-decoration: underline;
            }
        }

        .articleImage {

            max-width: 250px;
            display: inline-block;
            float: left;

            @media (max-width: 1450px) {
                max-width: 160px;
            }

            @media (max-width: 900px) {
                max-width: 100%;
                display: block;
                float: none;
            }
        }

        .articleDescription {
            color: black;
            width: 260px;
            float: left;
            margin-left: 20px;

            @media (max-width: 900px) {
                float: none;
                margin-left: 0;
                margin-top: 10px;
                width: 100%;
            }

            em {
                font-weight: bold;
                font-style: normal;
                color: black;
            }

            .articlePublishDate {
                color: $gray-4;
            }
        }
    }

}

.linkToSimilar {
    padding-bottom: 1rem;
    padding-top: 1rem;
    display: block;
    color: $color-primary;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: right;
    float: left;
}

.openInNew {
    transform: translateY(0.2rem);
    margin-left: 1rem;
    font-size: 1.6rem;
}

.isEmpty {
    position: fixed;
    width: calc(100% - 2rem);
    height: calc(100% - 15rem);
    justify-content: center;
    align-items: center;

    strong {
        display: block;
        color: rgba(0,0,0,0.56);
        font-size: 3.6rem;
    }
}

.disabled {
    .metadata,
    .headline,
    .description,
    .thumbnail {
        opacity: 0.25;
    }
}

/**
 * ~Condensed
 * --------------------------------------------------
 */
.condensed.article {
    padding: 1rem;
    padding-bottom: 2rem;
}

/**
 * ~Floating Share Button
 * --------------------------------------------------
 */
.floating {
    position: fixed;
    bottom: 2rem;
    left: 72.4rem;
    z-index: 1;
}

/**
 * ~Media Queries
 * --------------------------------------------------
 */
@media (min-width: $screen-xs-min) {
    .article {
        padding: 0.5rem;
        width: 50%;
    }
}

@media (min-width: $screen-sm-min) {
    .article {
        width: 33.33%;
    }
}

@media (min-width: $device-tablet-landscape) {
    .article {
        padding: 1rem 2rem 3rem;
        width: 25%;
    }

    .articleContainer:hover {
        .headline {
            text-decoration: underline;
            color: $accent-blue;
        }

        .visibleOnHover {
            visibility: visible;
        }
    }

    .articleContainer:not(:hover) {
        background: none;

        .visibleOnHover {
            visibility: hidden;
        }
    }
}

@media screen and (min-width: 1025px) {
    .articleContainer:not(:hover) {
        .showOnHover {
            display: none;
        }
    }
}

@media (min-width: $screen-xl-min) {
    .article {
        width: 20%;
    }
}
@media (min-width: $screen-xxxl-min) {
    .article {
        width: 16.66%;
    }
}
