@import "../../../../scss/variables";

.article {
    display: flex;
    padding: 1rem;
    width: 100%;

    .articleContainer {
        background: white;
    }

    &.grid-item {
        padding: 0 1rem 3rem;
    }
    &.selected:not(.shared):not(.testShared) .articleContainer {
        .content {
            background: $palette-cyan-100;
        }
    }
    &.sharedTest .articleContainer {
        background-color: $palette-red-100;
    }
    &.shared .articleContainer {
        background-color: $palette-light-green-100;
    }

    .capPercentage {
        margin-top: -0.25rem;
        height: 0.5rem;
        background: #F34B5C;

        .label {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: -1.8rem;
            width: 3.6rem;
            height: 3.6rem;
            float: right;
            color: white;
            font-size: 1.2rem;
            line-height: 1.2rem;
            background: #F34B5C;
            border-radius: 100%;
        }
    }

}

.container {
    display: flex;
    flex-wrap: wrap;
    will-change: scroll-position;
}

.articleContainer {
    display: flex;
    flex-direction: column;
    position: relative;
}

.content {
    padding: 0 1rem 0;
    cursor: default;
}

.thumbnail {
    display: flex;
    align-items: flex-end;
    min-height: 14rem;
    max-height: 14rem;
    min-width: 100%;
    max-width: 100%;
    overflow: hidden;
    background-repeat: none;
    background-size: cover;
}

.thumbnail img {
    max-width: 100%;
    min-height: 14rem;
    object-fit: cover;
    animation: fadeIn .5s ease-out;
}

.noImage {
    opacity: 0.1;
    width: 100%;
    background: url(../../../../images/logo.svg) no-repeat center center;
    background-size: cover;
}

.metadata {
    padding-top: 0.5rem;
}

.site {
    font-weight: bold;
    text-transform: uppercase;
}

.timeAgo {
    padding-left: 0.5rem;
    color: rgba(0, 0, 0, 0.5);
}

.site,
.timeAgo {
    font-size: 1.2rem;
}

.headline {
    display: block;
    margin: 0 0 0.5rem;

    header {
        display: block;
        font-size: 1.4rem;
        font-weight: 400;
        overflow: hidden;
        line-height: 1.4rem;
        min-height: calc(1.4rem*3);
        height: calc(1.4rem*3);
        max-height: calc(1.4rem*3);
    }

    a {
        color: black;
        margin-left: .2rem;
        [data-react-toolbox="font-icon"] {
            font-size: 1.6rem;
            position: relative;
            top: .2rem;
        }

        &:hover {
            color: black;
        }
    }
}

.headlineTooltip {
    display: none;
}

.headlineIssue {
    .headlineTooltip {
        display: inline-block;
        white-space: normal;

        [data-react-toolbox="font-icon"] {
            color: red;
        }
    }
}

.description {
    overflow: hidden;
    word-break: break-all;
    font-size: 1.2rem;
    line-height: 1.2rem;
    min-height: calc(1.2rem*3);
    height: calc(1.2rem*3);
}

.topBar {
    display: flex;
    margin-top: -3.6rem;
    position: absolute;
    z-index: 1;
    width: 100%;
    justify-content: space-between;
    transform: translateY(3.6rem);

    [data-react-toolbox="button"] {
        margin: 0;
        background: white;
        border-radius: 0;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
        z-index: 2;
    }

     :global {
        [data-react-toolbox="button"].saved {
            color: $accent-blue;
        }

        .recent_save::after {
            display: inline-block;
            content: "Saved to My Posts";
            padding: 0 1rem;
            position: absolute;
            background: white;
        }

    }
}

:global(#saved) .articleContainer:hover .topBar :global([data-react-toolbox="button"].saved::after) {
    display: block;
    padding: 0 1rem;
    position: absolute;
    top: 0;
    right: -7.5rem;
    content: "Remove";
    cursor: pointer;
    background: white;
}

.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1.4rem 0;
    height: 4.2rem;
}

.articleActions {
    display: flex;
    justify-content: flex-end;
}

.action {
    color: $palette-grey-500;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1
    }
}

.primaryColor button span {
    color: $color-primary;
}

.articlePerf {
    display: inline-block;
    margin: auto 0px;
    margin-top: -.25rem;
    padding: 1px 6px;
    height: 22px;
    font-size: 1rem;
    font-weight: bold;
    line-height: 2rem;
    text-transform: uppercase;

    &.average {
        background-color: #fb965b;
    }
    &.good {
        background-color: #fac85a;
    }
    &.veryGood {
        background-color: #96e150;
    }
}


.linkToSimilar {
    padding-bottom: 1rem;
    padding-top: 1rem;
    display: block;
    color: $color-primary;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: right;
    float: left;
}

.openInNew {
    transform: translateY(0.2rem);
    margin-left: 1rem;
    font-size: 1.6rem;
}

.isEmpty {
    width: 100%;
    height: calc(100vh - 12.8rem);
    justify-content: center;
    align-items: center;

    strong {
        display: block;
        color: rgba(0,0,0,0.56);
        font-size: 3.6rem;
    }
}

.disabled {
    .metadata,
    .headline,
    .description,
    .thumbnail {
        opacity: 0.25;
    }
}

/**
 * ~Condensed
 * --------------------------------------------------
 */
.condensed.article {
    padding: 1rem;
    padding-bottom: 2rem;
}

/**
 * ~Floating Share Button
 * --------------------------------------------------
 */
.floating {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 1;
}


/**
 * ~Floating Share Button
 * --------------------------------------------------
 */

button[data-react-toolbox].selectArticleButton:not([disabled]) {
    align-self: flex-start;
    color: rgba(255,255,255,0);
    text-shadow: 2px 2px 4px rgba(0,0,0,0);
    transition: .2s all ease-in;
}

.articleContainer:hover,
.article.selected {
    button[data-react-toolbox].selectArticleButton:not([disabled]) {
        color: rgba(255,255,255,0.8);
        text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    }
}

.container.isSelecting .article {
    button[data-react-toolbox].selectArticleButton:not([disabled]) {
        color: rgba(255,255,255,0.8);
        text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    }

    .headline {
        pointer-events: none;

        a:hover {
            color: rgba(255,255,255,0.87);
        }
    }
}

.isLoading {
    height: 100%;

    .articleContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 30rem;
        height: 100%;
    }
}

/**
 * ~Media Queries
 * --------------------------------------------------
 */
@media (min-width: $phone-landscape) {
    .article {
        padding: 0.5rem;
        width: 50%;
    }
}

@media (min-width: $tablet-portrait) {
    .article {
        padding: 0.5rem;
        padding-bottom: 2rem;
        width: 33%;
    }
}

@media (min-width: $window-large) {
    .article {
        width: 25%;
    }

    .articleContainer:hover {
        .headline {
            text-decoration: underline;
            color: $palette-light-blue-600;
        }

        .visibleOnHover {
            visibility: visible;
        }
    }

    .articleContainer:not(:hover) {
        background: none;

        .visibleOnHover {
            visibility: hidden;
        }

        .showOnHover {
            display: none;
        }
    }
}

@media (min-width: $window-xlarge) {
    .article {
        width: 25%;
    }
}
