.sidebar {
    box-shadow: inset 7px 0 9px -7px rgba(0, 0, 0, 0.4);
    position: absolute !important;
    [data-react-toolbox="list"] {
        .disabled {
            [data-react-toolbox="list-item-text"] {
                color: #d3d3d3;
            }
        }
        .active {
            [data-react-toolbox="list-item-text"] {}
        }
    }
}
