.explore,
.trending,
.recommended {
    
    .comiseo-daterangepicker-triggerbutton.ui-button {
        position: absolute;
        left: -50px;
        visibility: hidden;
        top: 25px;
    }
}

.mdl-layout__header.selection-mode {
    color: black;
    background: white;
}

.view-mode {
    color: rgba(0,0,0,0.54);

    &.active {
        color: white;
    }

}

#sort-by {
    -webkit-appearance: none;
    background: transparent;
    border: none;
    /* line-height: 64px; */
    font-size: 14px;
    padding-left: 32px;
    margin-left: -32px;

}

label[for="sort-by"] {
    pointer-events: none;
}

.comiseo-daterangepicker-triggerbutton span {
    font-family: $font-family-sans-serif;
    font-size: 1.5rem;
    color: white;
}

.mdl-layout__header-row .mdl-button {
    color: white;
}
