#articles-container {
    padding-top: 2rem;
}

// TODO: remove the X when explore is updated to use shared/Article.component
.article {
    width: 100%;

    &:not(.editing) > .edit-article {
        display: none;
    }

    &.selected {
        background: $selected-color;

        .highlight-on-hover {
            color: $selected-text-color;
        }
    }

    @media (min-width: $screen-xs-min) {
        width: 50%;
    }

    @media (min-width: $screen-sm-min) {
        width: 33.33%;
    }

    @media (min-width: $screen-lg-min) {
        width: 25%;
    }

    @media (min-width: $screen-xxl-min) {
        width: 20%;
    }

    @media (min-width: $screen-xxxl-min) {
        width: 16.66%;
    }
}

.articlex {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 3rem;

    .headline {
        margin: 1rem 0;
        font-size: 1.75rem;
        font-weight: bold;
    }

    .th {
        opacity: 1;
        min-height: 14rem;
    }

    .metadata {
        margin-top: .5rem;
        color: gray;
        font-size: 1.2rem;
    }

    .info {
        margin-right: .25rem;
    }

    .description {
        flex: 1;
        line-height: 1.5rem;
    }

    .actions {
        clear: both;

        a {
            color: #999;
            font-size: 1.2rem;
            cursor: pointer;

            &:hover,
            &:focus {
                color: $primary-color;
                text-decoration: none;
            }
        }
    }

    .action {
        margin: 0 .5rem;

        &:first-of-type {
            margin-left: 0;
        }

        &:last-of-type {
            margin-right: 0;
        }

        &.left {
            float: left;
        }

        &.right {
            float: right;
        }
    }

    &:not(.disabled):hover .highlight-on-hover {
        color: #008CBA;
    }
}
