.griddle-table {
    width: 100%;

    tr:last-child td {
        padding-right: 1rem;
    }

    tr:not(:last-of-type) {
        border-bottom: thin solid $palette-grey-400;
    }

    tr td {
        font-size: 1.6rem;
        font-weight: 300;
    }

    thead tr {
        background: $palette-grey-200;
        box-shadow: 2px 0px 8px rgba(0,0,0,0.25);

        th {
            padding: 2rem 0;
            font-size: 1.4rem;
            font-weight: bold;
            text-transform: uppercase;

            &:first-child {
                padding-left: 2rem;
            }
        }
    }

    tbody {

        &:last-of-type {
            select {
                background: transparent;
            }
        }

        &:first-of-type {
            border-bottom: .4rem solid $palette-grey-300;
        }

        tr {
            background: $palette-grey-50;

            &:hover {
                background: white;
                box-shadow: 2px 0px 4px rgba(0,0,0,0.1);
            }

            &:not(:hover) .showOnHover {
                visibility: hidden;
            }
        }
    }

    .footer-container {
        padding: 1rem;
        padding-bottom: 5rem;
    }

    .griddle-footer div {
        display: flex;
        justify-content: space-between;
    }

    .griddle-page {
        color: $palette-grey-400;

        &:before {
            margin-right: 1rem;
            content: "page";
            color: black;
            font-weight: bold;
            text-transform: uppercase;
        }

        select {
            width: 2rem;
            -moz-appearance: none;
            -webkit-appearance: none;
            color: black;
            font-size: 1.6rem;
            font-weight: bold;
            line-height: 1.6rem;
            background: transparent;
            border: none;
        }
    }
}

.griddle-pagination {
    display: flex;
    justify-content: center;
}

.pagination > li > a, .pagination > li > span,
.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
    color: rgba(0,0,0,0.54);
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    background-color: $color-accent;
    border-color: $color-accent;
}

th.griddle-table-heading-cell {
    cursor: pointer;
}
