#header {
    color: white;
    background: $primary-color;

    .navbar-brand {
        color: white; 

        img {
            height: 20px;
        }
    }

    .navbar-nav > li a {
        color: white;
    }

    li.tab.active a {
        background: rgba(0,0,0,0.1);
    }

    a:hover {
        text-decoration: none;
    }
}

#greeting {
    margin-right: 0;
    color: white;
}

#g-signin2 {
    margin: 10px 15px;
}

#partner {
    margin-left: 0;
    width: auto;
    color: white;
    background: transparent;
    border: none;
}

#settings {
    margin-right: 15px;
    margin-left: -15px;
    color: white;
    cursor: pointer;

    &:hover {
        color: white;
    }
}
