#header {
    color: white;
    background: $primary-color;

    .navbar-brand {
        color: white; 

        img {
            height: 20px;
        }
    }

    .navbar-nav > li a {
        color: white;
    }
}

#g-signin2 {
    margin: 10px 15px;
}

#login-icon {
    margin-right: -10px;
    color: white;
}
