#toolbar {
    margin-top: 50px;
    color: lightgray;
    background: white;
    transition: top .1s ease-in;

    &.slide-up {
        top: -50px;
    }

    label {
        color: gray; 
    }

    .navbar-form.navbar-left {
        padding-left: 0;
    }
    
    .form-group {
        margin-right: 1rem;
    }

    select.form-control {
        background: transparent;
        border: none;
        box-shadow: none;
    }

    button[id^=drp] {
        padding-left: 1rem;
    }
}

.minimal.input-group-addon {
    padding-left: 0;
    padding-right: 0;
    font-weight: bold;
    background: none;
    border: none;
}

#sort-by {
    width: 12rem;
}

#search-form-wrapper {
    .form-control {
        border-right: none;
    }

    .input-group-addon {
        background: transparent;
    }
}
