@import '../../../../scss/variables';

.statBlock {
	padding-left: 15px;
}

.articleModal {
    background-color: #F1F1F1;

    nav[role=navigation]{
        display: none;
    }

    section[role=body]{
        padding: 0;
    }

    .clickbaitScore {
        display: inline-block;
        margin-right: 0.5rem;
        padding-right: 0.35rem;
        padding-left: 0.15rem;
        color: white;
        line-height: 1.4rem;
        background: red;
        border: thin solid red;
    }

    .articleDetail {
        display: block;
        padding: 1.5em 1em;
        border-bottom: 2px solid rgba(153,153,153,.2);

        .articleImage {
            position: relative;
            width: 40%;
            max-width: 320px;
            display: inline-block;
            float: left;

            @media (max-width: $screen-md) {
                max-width: 100%;
                width: 100%;
                display: block;
                float: none;
            }

            div{
                position:  absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background-size: cover;

                .saveButton{
                    background-color: #fff;
                    width: 36px;
                    height: 36px;
                    overflow: hidden;
                    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);

                    :global [data-react-toolbox="button"].saved {
                        color: $accent-blue;
                    }
                }
            }
        }

        .articleImage:before{
            content: "";
            display: block;
            padding-top: 50%; //This sets the height as a postion of the width
        }

        .articleDescription {
            color: black;
            width: 50%;
            float: left;
            margin-left: 20px;
            color: #333;

            @media (max-width: $screen-md) {
                float: none;
                margin-left: 0;
                margin-top: 10px;
                width: 100%;
            }

            .siteName {
                font-weight: bold;
                font-style: normal;
                padding-right: 0.5em;
                font-size: 0.8em;
                text-transform: uppercase;
            }

            .articlePublishDate {
                color: #999;
                font-size: 0.8em;
            }

            .articleTitle {
                font-size: 1em;

                [data-react-toolbox="link"]{
                    font-size: 1em;
                    margin-left: 5px;
                    vertical-align: text-bottom;
                    line-height: 1;
                    color: #999;
                    display: inline;
                }
            }
        }
    }

    .totals{
        display: block;
        padding: 1em;
        color: #333;
        font-weight: bold;
        font-style: normal;
        position: relative;

        .totalsHeader{
            margin-bottom: 1em;
            text-transform: uppercase;
        }

        > ul{
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;

            > li{
                width: 33.33%;
                text-transform: uppercase;

                @media (max-width: $screen-md) {
                    width: 50%;
                }
            }
        }

        .statValue{
            color: #666;
            font-size: 0.9em;
            font-weight: normal;
        }
    }

    .linkStats {
        background-color: #fff;
        padding: 1em;
        color: #333;
        font-weight: bold;
        font-style: normal;
        position: relative;

        h1 {
            font-size: 1em;
            font-weight: bold;
            margin-bottom: 1em;
        }
    }
}

.clear{
    clear: both;
}
