@import '../../../../scss/variables';

.overlay {
    height: calc(100vh - 4.6rem);
    position: fixed;
    top: 4.6rem;
    // left: 22rem;
    left: 0;
    right: 22rem;
    z-index: 300;
    overflow: auto;

    header {
        margin: 1rem 0;
        color: $palette-grey-700;
        font-size: 1.4rem; font-weight: 500;
        text-transform: uppercase;
    }

    header:not(:first-of-type) {
        margin-top: 1rem;
    }
}

// ~Backdrop
// --------------------------------------------------
.backdrop {
    position: fixed;
    top: 4.6rem;
    right: 22rem;
    bottom: 0;
    // left: 22rem;
    left: 0;
    background: rgba(250,250,250,0.95);
}

// ~App Bar
// --------------------------------------------------

.appBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.4rem;
    width: 100%;
    height: 6.4rem;
    // background: $palette-light-blue-400;
}

.actions {
    justify-content: flex-end;
}

.actions {
    display: flex;
}

// ~Main Content
// --------------------------------------------------

.mainContent {
    max-height: 100vh;
    width: 100%;
    background: white;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.05);
}

.viewer {
    display: block;
    position: fixed;
    top: 4.6rem;
    // left: 22rem;
    left: 0;
    bottom: 0;
    right: 22rem;
    padding: 0;
}

.coverImage {
    object-fit: cover;
    object-position: top;
    width: 100%;
    min-height: 24rem;
    max-height: 24rem;
}

.content,
.summary,
.recentActivity {
    padding: 1.6rem;
}

.title {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 3.2rem;
}

.siteName,
.publishDate {
    font-size: 1.4rem;
    line-height: 2rem;
    color: rgba(0,0,0,0.87);
}

.publishDate {
    font-weight: 400;
}

.siteName {
    margin-right: 0.5rem;
    font-weight: 500;
}

.description {
    margin: 1.4rem 0;
    font-size: 1.4rem;
    line-height: 2rem;
}

.recentActivity {
}

.summary {
}

.stats {
    display: flex;
    padding-top: 1rem;
}

.stat {
    flex: 1;
    text-align: center;

    strong {
        display: block;
        margin-right: 0.25rem;
        font-size: 1.6rem;
    }

    span {
        font-size: 1.4rem;
    }
}

.content {
    position: relative;
    background: white;
    box-shadow: 0px -4px 8px -2px rgba(0,0,0,0.1);
}

// ~Aside
// --------------------------------------------------

.metadata {
    // flex: 1;
    // padding-top: 12.8rem;
}

.viewport {
    // height: calc(100vh - 12.8rem);
    // overflow: auto;
}

// ---

.statBlock {
	padding-left: 15px;
}

.articleModal {
    background-color: #F1F1F1;

    nav[role=navigation]{
        display: none;
    }

    section[role=body]{
        padding: 0;
    }

    .clickbaitScore {
        display: inline-block;
        margin-right: 0.5rem;
        padding-right: 0.35rem;
        padding-left: 0.15rem;
        color: white;
        line-height: 1.4rem;
        background: red;
        border: thin solid red;
    }

    .articleDetail {
        display: block;
        padding: 1.5em 1em;
        border-bottom: 2px solid rgba(153,153,153,.2);

        .articleImage {
            position: relative;
            width: 40%;
            max-width: 320px;
            display: inline-block;
            float: left;

            @media (max-width: $screen-md) {
                max-width: 100%;
                width: 100%;
                display: block;
                float: none;
            }

            div{
                position:  absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background-size: cover;

                .saveButton{
                    background-color: #fff;
                    width: 36px;
                    height: 36px;
                    overflow: hidden;
                    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);

                    :global [data-react-toolbox="button"].saved {
                        color: $accent-blue;
                    }
                }
            }
        }

        .articleImage:before{
            content: "";
            display: block;
            padding-top: 50%; //This sets the height as a postion of the width
        }

        .articleDescription {
            color: black;
            width: 50%;
            float: left;
            margin-left: 20px;
            color: #333;

            @media (max-width: $screen-md) {
                float: none;
                margin-left: 0;
                margin-top: 10px;
                width: 100%;
            }

//             .siteName {
//                 font-weight: bold;
//                 font-style: normal;
//                 padding-right: 0.5em;
//                 font-size: 0.8em;
//                 text-transform: uppercase;
//             }
//
//             .articlePublishDate {
//                 color: #999;
//                 font-size: 0.8em;
//             }

            .articleTitle {
                font-size: 1em;

                [data-react-toolbox="link"]{
                    font-size: 1em;
                    margin-left: 5px;
                    vertical-align: text-bottom;
                    line-height: 1;
                    color: #999;
                    display: inline;
                }
            }
        }
    }

    .totals{
        display: block;
        padding: 1em;
        color: #333;
        font-weight: bold;
        font-style: normal;
        position: relative;

        .totalsHeader{
            margin-bottom: 1em;
            text-transform: uppercase;
        }

        > ul{
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;

            > li{
                width: 33.33%;
                text-transform: uppercase;

                @media (max-width: $screen-md) {
                    width: 50%;
                }
            }
        }

        .statValue{
            color: #666;
            font-size: 0.9em;
            font-weight: normal;
        }
    }

    .linkStats {
        background-color: #fff;
        padding: 1em;
        color: #333;
        font-weight: bold;
        font-style: normal;
        position: relative;

        h1 {
            font-size: 1em;
            font-weight: bold;
            margin-bottom: 1em;
        }
    }
}

.clear{
    clear: both;
}

.upButton {
    display: flex;
    align-items: center;

    h1 {
        font-size: 2rem;
    }
}

/**
 * ~responsive layout
 * --------------------------------------------------
 */
@media screen and (max-width: $phone-landscape-max) {
    .appBar {
        height: 5.6rem;
    }

    .viewer {
        top: 5.6rem;
    }

    .viewer__container {
        max-height: calc(100vh - 5.6rem);
    }
}

@media screen and (min-width: $tablet-portrait) {
    .viewer {
        display: flex;

        aside {
            width: 36rem;
        }

        .mainContent.hasEngagement {
            margin-right: 0;

            + aside {
                margin: 0 auto 0 0;
            }
        }
    }

    .viewer__container {
        display: flex;
        flex: 1;
        min-height: 100%;
        max-height: calc(100vh - 6.4rem);
    }

    .mainContent {
        max-width: 60rem;
        margin: 0 auto;
    }

    .coverImage {
        min-height: 36rem;
        max-height: 36rem;
    }
}

@media screen and (min-width: $tablet-landscape) {
    .mainContent {
        max-width: 72rem;
    }
}

@media screen and (min-width: $tablet-large-landscape) {
    .mainContent.hasEngagement {
        margin-right: 0;
    }

    .viewer aside {
        margin-right: auto;
    }
}
