.dropdown {
    .field {
        display: flex;
        padding: 0.4rem;
        align-items: center;
        flex-direction: row-reverse;
    }

    .templateValue,
    .label {
        white-space: nowrap;
    }

    .templateValue {
        margin-right: 1.6rem;
        padding: 0 0.6rem;
        font-size: 1.4rem;
        min-height: initial;
        height: initial;

        &::after {
            right: -1.6rem;
        }
    }

    .label {
        position: initial;
        top: initial;
        left: initial;
    }

    .option {
        font-size: 1.4rem;
    }

    .values li div span {
        font-size: 1.8rem;
    }

    .values > li {
        padding: 0.6rem;

        &.selected,
        div {
           font-size: 1.4rem;
        }

        div {
            display: flex;
        }

        .option {
            margin-left: 0.6rem;
        }
    }
}

.option {
    margin-left: 1rem;
    overflow: hidden;
    white-space: nowrap;
    max-width: 11rem;
    font-weight: normal;
    text-overflow: ellipsis;
}
