.scrollBox {
    height: 500px;
    overflow-y: auto;
}

.listDivider:not(:first-of-type) {
    padding-top: 2rem;
    color: dimgray;
}

.listItem {
    height: 2.8rem;
    min-height: 1rem !important;

    [data-react-toolbox="check"] {
        margin-right: 1.5rem;
    }
}

.selectAllOptions {
    margin: -1.2rem 0 1.4rem 1.5rem;
    font-size: 1.4rem;
    cursor: pointer;

    span {
        margin-right: 1rem;
    }
}
