.ant-input,
.ant-time-picker-input {
    text-align: left;
    direction: ltr;

    &::placeholder {
        color: rgba(0,0,0,0.87);
    }
}

.ant-time-picker,
.ant-calendar-picker {
    margin: 0 0.6rem;
}

.ant-radio-button-wrapper-checked {
    color: rgba(0,0,0,0.54);
    background: #eee;
    border-color: #d9d9d9;
    box-shadow: -1px 0 0 0 #d9d9d9;

    &:first-child,
    &:last-child,
    &:hover {
        color: rgba(0,0,0,0.54);
        border-color: #d9d9d9;
        box-shadow: -1px 0 0 0 #d9d9d9;
    }
}

.extra-padding {
    .ant-input {
        margin: 1.4rem;
        width: calc(100% - 2.8rem);
        height: 3.6rem;
    }

    .ant-input-prefix {
        left: 2rem;
    }

    .ant-input-suffix {
        right: 2rem;
    }
}
