/**
 * ~Global styles
 * -------------------------------------------------- */

body {
    background: #eee;
}

a:hover,
a:focus {
    text-decoration: none;
}

select {
    // -webkit-appearance: none;
    // -moz-appearance: none;
    // appearance: none;
    text-indent: 1px;
}

ul {
    padding-left: 0;
}

p {
    margin-bottom: 0;
}

#app-container {
    height: 100vh;
}

.with-cover {
    background: url(../images/cover-sharp.png);
    background-size: cover;

    &::after {
        display: block;
        position: absolute;
        width: 100%;
        background: rgba(0,0,0,0.75);
        top: 0;
        bottom: 0;
    }
}

label[data-react-toolbox='checkbox'] {
    min-height: 2.4rem;
}

h2 {
    font-size: 3.4rem;
    font-weight: 400;
}
