/**
 * ~Global styles
 * -------------------------------------------------- */

body {
    overflow-x: hidden;

    &.select-mode #toolbar form:not(.select-mode-only),
    &:not(.select-mode) .select-mode-only {
        display: none !important;
    }
}

a:hover,
a:focus {
    text-decoration: none;
}

select {
    // -webkit-appearance: none;
    // -moz-appearance: none;
    // appearance: none;
    text-indent: 1px;
}

#reportrange+button {
    padding: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}

.mdl-layout__container {
    background: rgb(245,245,245);
}

.send-to-back {
   transform-style: preserve-3d;
}

/**
 * ~Material Design Lite overrides
 * These will be placed in their respective component stylesheets soon
 * -------------------------------------------------- */

.mdl-layout__drawer {
    border: none;

    .mdl-navigation {
        padding-top: 0;
        border-top: thin solid lightgray;

        header {
            padding: 16px;
            color: rgba(0,0,0,0.54);
            font-size: 14px;
            font-weight: medium;
        }

        .mdl-navigation__link {
            padding: 16px;
            color: rgba(0,0,0,0.87);
            font-weight: medium;
        }
    }
}

.mdl-actions {
    position: relative;

    & > .mdl-button,
    & > .mdl-textfield {
        margin: 0 6px;
    }
}

/**
 * ~Bootstrap overrides/extensions
 * -------------------------------------------------- */

.container {
    @media (min-width: $screen-lg-min) {
        width: 960px;
    }

    @media (min-width: $screen-xl-min) {
        width: 1124px;
    }

    @media (min-width: $screen-xxl-min) {
        width: 1350px;
    }

    @media (min-width: $screen-xxxl-min) {
        width: 1600px;
    }
}
