@import "react-toolbox-theme";

/**
 * ~Global styles
 * -------------------------------------------------- */

body {
    overflow-x: hidden;

    &.select-mode #toolbar form:not(.select-mode-only),
    &:not(.select-mode) .select-mode-only {
        display: none !important;
    }
}

a:hover,
a:focus {
    text-decoration: none;
}

select {
    // -webkit-appearance: none;
    // -moz-appearance: none;
    // appearance: none;
    text-indent: 1px;
}

ul {
    padding-left: 0;
}

#app-container {
    position: absolute;
    width: 100%;
    height: 100%;
}
