@import '~react-toolbox/lib/overlay/theme.scss';

.overlay {
    top: 4.6rem;
    left: 0;
    right: 22rem;
    width: initial;
}

:global(.fullscreen) {
    .overlay {
        top: 0;
        right: 0;
    }
}
