@import '~react-toolbox/lib/_globals.scss';

$color-divider: $palette-grey-300;
$color-background: $color-white; $color-text: $palette-grey-900;
$color-text-secondary: $palette-grey-500;
$color-primary: $palette-light-blue-400;
$color-primary-dark: white;
$appbar-contrast: $color-text;
$color-accent: #F34B5C;
$color-tertiary: #FFA000;
$button-neutral-color: $color-primary;
$button-neutral-color-contrast: $palette-grey-600;
$dropdown-color-primary: $palette-grey-600;
//$color-accent-dark: $palette-cyan-700;
//$color-primary-contrast: $color-light-contrast;
//$color-accent-contrast: white;

// Backdrop colors
$overlay-color: rgb(200,200,200);
$overlay-opacity: 0.85;

// Drawer
$navigation-drawer-max-desktop-width: 240px;
$navigation-drawer-desktop-width: 240px;

// Menu Items
$menu-item-icon-font-size: 1.4rem;

/**
 * ~Generic
 * -------------------------------------------------- */
h2 {
    font-size: 1.6rem;
    lin-height: 2rem;
    font-weight: $font-weight-semi-bold;
}

/**
 * ~App Bar
 * ----------------------------------------- */
header.appBar {
    padding: 0 1.2rem;
    height: 4.6rem;
}

/**
 * ~Dialog
 * -------------------------------------------------- */
.dialog {

    .body {
        padding: 1.6rem;
    }

    .button {
        margin: 0 1rem 1rem;

        // &:first-of-type {
        //     color: white;
        //     background: $palette-green-400;
        // }

        // &:nth-of-type(2) {
        //     color: white;
        //     background: $palette-red-400;
        // }
    }

    .navigation {
        // text-align: center;

        .button {
            // float: right;
        }
    }

}


/**
 * ~Menu and Dropdown values
 * -------------------------------------------------- */
.menuInner,
.values {
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar:vertical {
        width: .5rem;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: .8rem;
        background: rgba(0,0,0,0.5);
    }

    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }
}

.button:global(.mini) {
    padding: 0 1rem;
    min-width: initial;
    font-size: 1.3rem;
}

/**
 * ~navigation drawer
 * -------------------------------------------------- */
.layout .panel,
.navDrawer.pinned aside[data-react-toolbox].drawerContent {
}

.navDrawer.pinned aside[data-react-toolbox].drawerContent {
    box-shadow: initial;
    overflow: auto;
}

@media screen and (min-width: 60rem) {
    .panel {

        .layout .navDrawer.wide {
            &.pinned,
            .drawerContent {
                width: 22rem;
                max-width: 22rem;
            }
        }
    }
}

/**
 * ~Lists
 * -------------------------------------------------- */
span.item.selectable:not(.disabled):hover {
    background-color: $palette-grey-300;
}

.listItem.isActive span.item.selectable:not(.disabled):hover {
    background: none;
}

aside[data-react-toolbox="nav-drawer-content"] .listItem {

    .item {
        min-height: 3.6rem;
        // padding-right: 0;

        .itemText.primary {
            width: 13rem;
            max-width: 13rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

    }

    .itemAction {
        margin: 0;
    }

    .left :last-child > [data-react-toolbox="font-icon"] {
        margin-right: 1.2rem;
        font-size: 1.6rem;
    }

    .right .itemAction button[data-react-toolbox="button"].icon {
        visibility: hidden;
    }

    &:hover {
        .right .itemAction button[data-react-toolbox="button"].icon {
            visibility: visible;
        }
    }

}

.itemContentRoot {
    .itemText {
        text-transform: capitalize;

        &.primary {
            font-size: 1.4rem;
        }
    }
}

.layout .panel,
.navDrawer.pinned aside[data-react-toolbox].drawerContent {
}

/**
 * ~Input
 * -------------------------------------------------- */
.dropdown {
    border: thin solid #e0e0e0;
    border-radius: 0.4rem;

    .value {
        padding: 0;

        &:after {
            top: 45%;
            border-top-color: #95989A;
        }
    }

    .field {
        padding: 1rem 0;
    }

    .templateValue {
        display: flex;
        padding: 0 0.6rem;
    }

    .value,
    .inputElement {
        padding: 0.6rem;
        min-height: 2.9rem;
        height: 2.9rem;
        border-bottom: 0;
    }

    .values > li {
        padding: 0.6rem;
        font-size: 1.4rem;
    }

}

div[data-react-toolbox="dropdown"] {
    .input:not([class*="hidden"]) {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        .inputElement {
            margin-right: 1.6rem;
            padding: 0 0.6rem;
            font-size: 1.4rem;
            text-overflow: ellipsis;
            border-bottom: 0;
        }

        .label {
            position: initial;
            top: initial;
            left: 0;
            line-height: initial;
            font-size: 1.2rem;
            white-space: nowrap;
        }

        .bar {
            display: none;
        }
    }
}

/**
 * ~IconMenu
 * -------------------------------------------------- */
li.menuItem {
    height: initial;
}
