/**
 * ~Variables
 * -------------------------------------------------- */

$font-family-sans-serif:  "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$primary-color: #007BC0;
$light-background-color: #e0e0e0;
$selected-color: $palette-cyan-100;
$selected-text-color: #008CBA;
$top-margin: 64px;
$toolbar-color: #eee;
$mobile-toolbar-height: 5.6rem;

// ~Colors
$color-primary: #03A9F4;
$color-primary-dark: #0288D1;
$color-default: #0288D1;
$color-default-light: #0288D1;
$color-accent: #F34B5C;
$color-accent-dark: #DC1478;
$color-accent-mute: #512DA8;
$color-accent-secondary: #66bb6a;
$color-accent-bright: #FFA000;


$white: #FFFFFF;
$gray-1: #F1F1F1;
$gray-2: #BFBFBF;
$gray-3: #999999;
$gray-4: #666666;
$gray-5: #333333;
$black: #000000;
$accent-green: #45B757;
$accent-blue: #007BC1;

// ~Responsive Layout
$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-lg:                  1280px !default;
$screen-lg-min:              $screen-lg !default;
$screen-xl: 1440px !default;
$screen-xxl: 1600px !default;
$screen-xxxl: 1920px !default;

$screen-xs-max: 479px;
$screen-lg-max: ($screen-xl - 1);
$screen-xl-min: $screen-xl;
$screen-xl-max: ($screen-xxl - 1);
$screen-xxl-min: $screen-xxl;
$screen-xxl-max: ($screen-xxxl - 1);
$screen-xxxl-min: $screen-xxxl;

$grid-gutter-width: 24px;
$container-large-desktop: (1000 + $grid-gutter-width);
$container-desktop: (744px + $grid-gutter-width);

$device-mobile-portrait: 375px;
$device-mobile-large-portrait: 425px;
$device-tablet-portrait: 768px;
$device-tablet-landscape: 1024px;
$device-web-large: 1440px;

$device-mobile-portrait-max: ($device-mobile-large-portrait - 1);
$device-mobile-large-portrait-max: ($device-tablet-portrait - 1);
$device-tablet-portrait-max: ($device-tablet-landscape - 1);
$device-tablet-landscape-max: ($device-web-large - 1);

// MDL Overrides
$drawer-width: 200px;

$color-primary: gray; // only for gulp

/**
 * ~Responsive dimensions
 * Taken from material.io/resizer
 * --------------------------------------------------
 */

// Web
$window-xsmall: 480px;
$window-small: 600px;
$window-medium: 840px;
$window-medium-plus: 960px;
$window-large: 1280px;
$window-xlarge: 1440px;

$window-xsmall-max: ($window-small - 1);
$window-small-max: ($window-medium - 1);
$window-medium-max: ($window-large - 1);
$window-medium-plus-max: ($window-large - 1);
$window-large-max: ($window-xlarge - 1);
// xlarge has no max limit

// Mobile
$phone-portrait: 360px;
$phone-landscape: 568px;
$tablet-portrait: 720px;
$tablet-landscape: 1024px;
$tablet-large-landscape: 1280px;

$phone-portrait-max: ($phone-landscape - 1);
$phone-landscape-max: ($tablet-portrait - 1);
$tablet-portrait-max: ($tablet-landscape - 1);
$tablet-landscape-max: ($window-large - 1);
