/**
 * ~Variables
 * -------------------------------------------------- */

$font-family-sans-serif:  "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$primary-color: #007BC0;
$light-background-color: #e0e0e0;
$selected-color: rgba(0, 123, 192, 0.1);
$selected-text-color: #008CBA;
$top-margin: 64px;

// ~Responsive Layout
$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-lg:                  1280px !default;
$screen-lg-min:              $screen-lg !default;
$screen-xl: 1440px !default;
$screen-xxl: 1600px !default;
$screen-xxxl: 1920px !default;

$screen-xs-max: 479px;
$screen-lg-max: ($screen-xl - 1);
$screen-xl-min: $screen-xl;
$screen-xl-max: ($screen-xxl - 1);
$screen-xxl-min: $screen-xxl;
$screen-xxl-max: ($screen-xxxl - 1);
$screen-xxxl-min: $screen-xxxl;

$grid-gutter-width: 24px;
$container-large-desktop: (1000 + $grid-gutter-width);
$container-desktop: (744px + $grid-gutter-width);

// MDL Overrides
$drawer-width: 200px;

$color-primary: gray; // only for gulp
