#settings {

    h1 {
        font-size: 4rem;
    }

    .form-group {
        margin: 2rem 0;
    }

    #topics-group {
        #topics-selector {
            width: 100%;
        }
    }

    #email-group {
        .input-group {
            width: 100%;
        }
        input {
            border-radius: 4px;
        }
    }
}
