@import '~react-toolbox/lib/date_picker/theme';
@import '../../../scss/variables';

.calendar {
    margin-bottom: 1rem;
}

.day {

    &.active > span {
        background: $color-accent-mute;
    }

    &:hover:not(.active):not(.disabled) > span {
        background: rgba(81, 45, 168, 0.27);
    }
}
