@import '../../../scss/variables';

$font-color-active: rgba(255,255,255,0.87);
$font-color-inactive: rgba(255,255,255,0.54);

.active {
    color: $font-color-active;
}

.hide {
    display: none;
}

.container {
    flex: 1;
    margin: -1rem;
}

.cta {
    text-align: right;
}

.display {
    padding: 2.4rem;
    color: $font-color-inactive;
    background-color: $color-accent-mute;
}

.warning {
    color: $color-accent;
    line-height: 1.4rem;
    text-align: center;
}

.displayYear {

}

.highlight {
    animation: flash .75s ease-out;
}

@keyframes flash {
    0% {
        background-color: $color-accent-mute;
    }

    20% {
        background-color: $color-accent;
    }

    100% {
        background-color: $color-accent-mute;
    }
}

.displayDay {
    margin: -1rem -1rem 0;
    padding: 0.5rem;
    color: $font-color-active;
    font-size: 1.3rem;
    font-weight: 500;
    background: rgba(0,0,0,.24);
    transition: padding .2s ease-out,
                font-size 0.2s ease-out;
}

.displayMonthYear {
    font-size: 2.4rem;
    font-weight: 500;
}

.displayDateth {
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 4.6rem;
}

.scheduler {
    display: flex;
    flex-direction: column;
    width: 27.4rem;
    background: white;

    &.confirming {
        background: $color-accent-mute;

        .displayDay {
            // padding-top: 12.8rem;
            font-size: 2rem;
        }

        .displayDate,
        .displayHourMinutes {
            color: white;
        }

        .displayDate {
            transform: translateY(6.4rem);
        }

        .timeGroup {
            // padding: 4.8rem 0;
            transform: scale(1.5) translateY(6.4rem);
        }

    }

    &:not(.cannotSchedule) .warning {
        display: none;
    }
}


.timeGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 2.4rem;
    border-bottom: thin solid rgba(0,0,0,0.2);

    .active {
        color: rgba(0,0,0,0.87);
    }
}

.displayHourMinutes {
    font-weight: 500;
}

.displayAMPM {
    color: rgba(0,0,0,0.54);
}

.ampm {
    padding: 0 0.5rem;
    line-height: 1.6rem;
    font-weight: 500;
    cursor: pointer;
}

.selectors {
    padding: 1rem;
    text-align: right;
}

.cannotSchedule {
    .display {
        background: $color-accent;
    }
}
