.scrollpane {
    padding: 1rem;
    min-height: calc(100vh - 2 * 6.4rem);
    max-height: calc(100vh - 2 * 6.4rem);
    overflow-x: hidden;
    overflow-y: auto;
    backface-visibility: hidden;
}

.withoutToolbar {
    min-height: calc(100vh - 6.4rem);
    max-height: calc(100vh - 6.4rem);
}

:global(#analytics).scrollpane,
:global(#accounting).scrollpane {
    background: white;
}
