@import '../../../../scss/variables';

.scrollpane {
    padding: 1rem;
    min-height: calc(100vh - 2 * 5.6rem);
    max-height: calc(100vh - 2 * 5.6rem);
    overflow-x: hidden;
    overflow-y: auto;
    backface-visibility: hidden;
}

:global(#analytics).scrollpane,
:global(#accounting).scrollpane {
    background: white;
}

.withoutToolbar {
    min-height: calc(100vh - 5.6rem);
    max-height: calc(100vh - 5.6rem);
}

/**
 * ~Responsive
 * --------------------------------------------------
 */

@media screen and (max-width: $phone-portrait-max) {
    .scrollpane {
        min-height: calc(100vh - 3 * 5.6rem);
        max-height: calc(100vh - 3 * 5.6rem);
    }

    .withoutToolbar {
        min-height: calc(100vh - 2 * 5.6rem);
        max-height: calc(100vh - 2 * 5.6rem);
    }
}

@media screen and (min-width: $phone-landscape) {

    .scrollpane {
        min-height: calc(100vh - 2 * 4.8rem);
        max-height: calc(100vh - 2 * 4.8rem);
    }

    .withoutToolbar {
        min-height: calc(100vh - 4.8rem);
        max-height: calc(100vh - 4.8rem);
    }
}

@media screen and (min-width: $phone-landscape) and (max-width: $phone-landscape-max) {
    .scrollpane {
        min-height: calc(100vh - 2 * 4.8rem - 4.2rem);
        max-height: calc(100vh - 2 * 4.8rem - 4.2rem);
    }

    .withoutToolbar {
        min-height: calc(100vh - 4.8 - 4.2rem);
        max-height: calc(100vh - 4.8rem - 4.2rem);
    }
}

@media screen and (min-width: $tablet-portrait) {

    .scrollpane {
        min-height: calc(100vh - 2 * 6.4rem);
        max-height: calc(100vh - 2 * 6.4rem);
    }

    .withoutToolbar {
        min-height: calc(100vh - 6.4rem);
        max-height: calc(100vh - 6.4rem);
    }

}
