.item {
    cursor: pointer;

    &:hover {
        background-color: $palette-grey-300;
    }
}

.caption {
    display: flex;
    align-items: center;
    cursor: default;
}

.hidden {
    display: none;
}

.loadingIndicatorContainer {
    display: flex;
    justify-content: center;
    padding: 16rem 0;
}

.disabled {
    pointer-events: none;
}

.pinned {
    width: 24rem;
    max-width: 24rem;
    background: rgba(255,255,255,0.27);
    border-right: thin solid lightgray;
}

.scrollable.pinned {
    height: calc(100vh - 4.6rem * 2);
    overflow: auto;

    &::after {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 23.9rem;
        height: 5rem;
        content: "";
        background: linear-gradient(rgba(255, 255, 255, 0), white);
    }
}

/**
 * ~Dropdown
 * -------------------------------------------------- */
.sectionHeader {
    font-size: 1.2rem;
    color: rgba(0,0,0,0.54);
}

.dropdown {
    .templateValue {
    }

    .field {
        padding: 0;
        min-width: 12rem;
    }

    .value {
        align-items: center;
        font-size: 1.4rem;
    }
}
