.item {
    cursor: pointer;

    &:hover {
        background-color: $palette-grey-300;
    }
}

.dimmed {
    .left, .itemText {
        opacity: 0.3;
    }

    img {
        filter: grayscale(100%);
    }
}

.caption {
    display: flex;
    align-items: center;
    cursor: default;
}

.hidden {
    display: none;
}

.isPinned {
    max-width: 24rem;
    background: white;
    border-right: thin solid lightgray;
}
