#info-bar {
    padding: 1rem;
    position: fixed;
    top: $top-margin;
    bottom: 0;
    left: 100%;
    width: 25%;
    background: white;
    z-index: 1;
    transition: transform .3s ease-in;

    > i {
        cursor: pointer;
    }

    &.slide-in {
        transform: translateX(-100%);
    }
}
