// @import '~react-toolbox/lib/base'; only works via webpack
@import '../../../../node_modules/react-toolbox/lib/base';

.actionsContainer {
    display: flex;
    align-items: center;

    > div {
        margin: 0 1rem;
    }
}

.defaultColor {
    color: $color-text-secondary;
}
