// @import '~react-toolbox/lib/base'; only works via webpack
@import '../../../scss/variables';
@import '../../../../node_modules/react-toolbox/lib/base';

.spaceOut {
    justify-content: space-between;
}

.actionsContainer {
    display: flex;
    align-items: center;

    [data-react-toolbox="dropdown"] {
        padding-right: 1rem;

        input {
            border-bottom: none;
        }
    }
}

.defaultColor,
.defaultColor :global(.material-icons) {
    color: $color-text-secondary;
}

.leftSection {
    margin-bottom: 0;
    color: rgba(0,0,0,.56);
    font-size: 2rem;

    &:hover {
        text-decoration: none;
    }
}

button.toggleDrawer {
    margin-right: 1rem;

    @media screen and (min-width: $screen-lg-min) {
        display: none !important;
    }
}

.toolbar {
    background: $palette-grey-50;
}

.selectionToolbar {
    position: fixed;
    z-index: 400;
    width: 100%;
    transform: translateY(-6.4rem);
    background: $palette-cyan-100;

    + div {
        max-height: calc(100vh - 6.4rem);
    }
}
