// @import '~react-toolbox/lib/base'; only works via webpack
@import '../../../scss/variables';

.spaceOut {
    justify-content: space-between;
}

.actionsContainer {
    display: flex;
    align-items: center;

    [data-react-toolbox="dropdown"] {
        margin-right: 1.2rem;
    }
}

.defaultColor,
.defaultColor :global(.material-icons) {
    color: $color-text-secondary;
}

.leftSection {
    margin-bottom: 0;
    color: rgba(0,0,0,.56);
    font-size: 2rem;

    &:hover {
        text-decoration: none;
    }
}

button.toggleDrawer {
    margin-right: 1rem;

    @media screen and (min-width: $screen-lg-min) {
        display: none !important;
    }
}

.toolbar {
    position: relative;
    background: white;

    .actionsContainer {
        justify-content: flex-start;
    }

    .rightContainer {
        width: 50%;
        justify-content: flex-end;

        @media (max-width: 1125px) {
            width: 45%;
        }
    }

    .centerContainer {
        justify-content: center;
        width: 100%;
    }
}

.mobileMenu {
    width: 200px;

    div {
        border: none;
    }

    ul {
        overflow: visible;

        li {
            overflow: visible;
            color: black;

            &:first-of-type {
                display: none;
            }

            ul {
                overflow: scroll;
            }
        }
    }
}

.selectionToolbar {
    padding-bottom: 1.4rem;
    align-items: center;
    height: 12.8rem;
    background: $palette-cyan-100;

    p {
        font-size: 2rem;
    }

    :global(.toolbarLabel) {
        @media (max-width: 888px) {
            display: none;
        }
    }
}

.flat {
    padding-top: 1rem;
    background: transparent;
    border-bottom: thin solid $palette-grey-300;
}

.filterToolbar {
    border-bottom: 1px solid #e0e0e0;
}

.withIcon {
    padding: 0 1rem;
}

.title {
    font-size: 2rem;
}

/**
 * ~Responsive
 * --------------------------------------------------
 */
@media screen and (max-width: $phone-landscape-max) {
    .desktopToolbar {
        display: none;
    }
}
