.spaceOut {
    justify-content: space-between;

    [data-react-toolbox="input"] input {
        padding-top: 0;
    }
}

// @import '~react-toolbox/lib/base'; only works via webpack
@import '../../../../node_modules/react-toolbox/lib/base';

.actionsContainer {
    display: flex;
    align-items: center;
}

.defaultColor,
.defaultColor :global(.material-icons) {
    color: $color-text-secondary;
}

.title {
    font-size: 2rem;
}
