$primary-color: #007BC0;
$secondary-color: #f1f1f1;
$steel: #666666;
$green: #008744;
$blue: #0057e7;
$md-blue: #4C7BAB;
$navy: #34495e;
$red: #d62d20;
$yellow: #ffa700;
$white: #eee;
$width: 100px;
$zoom: 1.7;
$left-menu-width: 22rem;
$oil: #333333;
$smoke: #EEEEEE;
$iron: #CCCCCC;
$charcoal: #555555;
$aluminum: #999999;
$base: #AAAAAA;
$teal: #00A79C;
$tertiary-color: #007BC0;
