@import "settings";
// @import "foundation";
@import "generic";
@import "jquery.overrides";

/**
 * ~Page States
 * --------------------------------------------------- */

.hide-sidebar {
    #left-menu {
        display: none;
    }
    #toggle-sidebar {
        color: black;
        transform: rotateZ(90deg);
    }
}


/**
 * ~Typography
 * --------------------------------------------------- */

h2 {
    display: block;
    color: $steel;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}


/**
 * ~Menu Bar
 * --------------------------------------------------- */

.primary.title-bar {
    background: $primary-color;
    border-bottom: thin solid $primary-color;
}

div.abcRioButton,
.abcRioButtonContentWrapper {
    display: inline;
}

.abcRioButtonContentWrapper {
    color: white;
}

h1 {
    margin: 0;
    color: white;
    font-size: 1.25rem;
    line-height: 1rem;
}

.menu-group {
    border-bottom: thin solid lightgray;
}

.menu-bar {
    li > a {
        color: gray;
        flex-flow: row nowrap;
        justify-content: center;
        text-decoration: none;
        border-bottom: .25rem solid transparent;
    }
    li:not(.active) a:hover {
        color: dimgray;
    }
    .active a {
        color: $primary-color;
        border-color: $primary-color;
    }
    .icon-button a {
        padding: 1rem 0.5rem;
    }
    .icon-button.active a {
        border-color: transparent;
    }
    .has-icon {
        padding-right: 1rem;
        a {
            position: relative;
        }
        .fa {
            margin-top: -0.65rem;
            position: absolute;
            top: 50%;
            right: -0.1rem;
        }
    }
    li > a:hover {
        background: transparent;
    }
    li.active > a:hover {
        color: $primary-color;
    }
}


/**
 * ~Body section
 * --------------------------------------------------- */

.main {
    border-top: thin solid lightgray;
}


/**
 * ~Sidebar
 * --------------------------------------------------- */

.sidebar {
    border-right: thin solid lightgray;
}

.block-list {
    margin-left: initial;
    margin-right: initial;
    li:first-child {
        border-top: none;
    }
}

.ms-choice {
    border: none;
    padding: 0.8rem 1rem;
    line-height: 1em;
    height: auto;
    color: black;
    background: none;
    > span {
        padding-left: initial;
        position: initial;
        left: initial;
        right: initial;
        top: initial;
    }
    > div {
        display: none;
    }
}

.ms-drop {
    input[type="checkbox"] {
        margin-top: 0;
    }
    ul > li label {
        margin: 0;
        padding: 0.5rem 0 0.5rem 0.5rem;
    }
}

.comiseo-daterangepicker-triggerbutton.ui-button {
    border: none;
    background: transparent;
}


/**
 * ~Main Section
 * --------------------------------------------------- */


/**
 * ~Top Bar
 * TODO deprecate; currently not in use
 * --------------------------------------------------- */

.top-bar {
    padding-bottom: 45px;
    width: 100%;
    position: fixed;
    z-index: 1;
    .name span {
        // display: none;
    }
    img {
        transform: translateY(-3px);
    }
    li:focus,
    a:focus {
        outline: none;
    }
    .top-bar-section li a.has-icon {
        padding: 0 0.5rem;
        font-size: 1.25rem;
    }
    .active i {
        color: black;
    }
    .top-bar-section li.has-dropdown a {
        padding-right: .9375rem !important;
    }
}

#mark-all-articles-dropdown {
    color: $oil;
    &:hover {
        color: black;
    }
}

#toggle-sidebar {
    padding: 0.75rem;
    transition: transform 0.2s, color 0.2s;
}


/**
 * ~Left Menu
 * --------------------------------------------------- */

#left-menu {
    margin-top: 45px;
    padding-top: 1rem;
    padding-bottom: 2rem;
    position: fixed;
    height: 97vh;
    overflow-y: auto;
    z-index: 1;
    transition: transform 0.2s;
    background-color: $smoke;
    border-right: 1px solid $iron;
    // @include grid-column($columns: 2);
    &.off-canvas {
        transform: translateX(-100%);
    }
    #Filters {
        ul {
            display: flex;
        }
        input {
            position: absolute;
            left: -9999px;
        }
        .active + label {
            color: $white;
            background: $secondary-color;
        }
        .filter-label {
            margin: 0;
        }
        fieldset {
            padding: 0.5rem;
            text-align: center;
        }
        input[type="radio"]+label {
            margin: 0 0 .5rem 0;
            padding: 0.5rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            border: none;
        }
    }
}

#share-ucid {
    background: rgba(0, 0, 0, 0.1);
    padding-left: .5rem;
    width: 100%;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

#share-ucid-button {
    width: 100%;
    text-align: center;
    line-height: 2.37rem;
    background: rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}


/**
 * ~Main Content
 * --------------------------------------------------- */

#content {
    border-top: thin solid $iron;
}

// Explore and My Links Tabs

/*
.tab.current {
    color: dimgray;
    background: #ccc;
    box-shadow: inset 0px 0px 40px -10px rgba(0,0,0,0.4);
}

.button-group .button {
    font-size: 0.9rem;
}
*/


/*
#main {
    // @include grid-column(10);
    margin-top: 45px;
    margin-left: 16.67%;
    padding: 0 0 5rem 0;
    overflow-x: hidden;
    //transition: width .25s ease, transform .2s;
    .mix {
        display: none;
        padding: 0.5rem;
    }
    li {
        clear: none;
    }
    .article {
        position: relative;
        .ui-selecting {
            border: 1px solid red;
        }
        .ui-selected {
            border: 2px solid red;
        }
    }
}
*/

.th.loaded {
    opacity: 1;
}

#info-bar {
    padding: 1rem;
    background: white;
}

#feed-menu {
    position: fixed;
    z-index: 3;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.65);
}

#feed-links {
    margin: 0;
    li {
        width: 10rem;
        float: initial;
        a {
            font-weight: bold;
        }
    }
    .button {
        margin-bottom: 0;
        height: initial;
        position: initial;
        top: initial;
    }
}

.post {
    position: relative;
    text-align: center;
}


/*
.postText {
    margin-bottom: 0.5em;
}
*/

.network {
    display: none;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.5);
    padding: 1rem;
    i {
        transition: all 0.15s ease;
        color: $steel;
        border: 2px solid $steel;
        border-radius: 50%;
        padding: 1em;
        margin: 0 0.3em;
        position: relative;
        width: 1rem;
        height: 1rem;
        box-sizing: content-box;
        background: transparent;
        display: inline-block;
        &:hover {
            border: 2px solid $tertiary-color;
            background: $tertiary-color;
            color: white;
            // top: -2px;
        }
    }
    .active {
        border: 2px solid $tertiary-color;
        background: $tertiary-color;
        color: white;
    }
}

#proto {
    display: none;
}

.loader {
    position: relative;
    margin: 0px auto;
    width: $width;
    height: $width;
    zoom: $zoom;
}

.circular {
    animation: rotate 2s linear infinite;
    height: $width;
    position: relative;
    width: $width;
}

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}

@keyframes color {
    100%,
    0% {
        stroke: $red;
    }
    40% {
        stroke: $blue;
    }
    66% {
        stroke: $green;
    }
    80%,
    90% {
        stroke: $yellow;
    }
}

.fa-external-link {
    color: $steel;
    font-weight: bold;
}

* .fa-bar-chart {
    color: $primary-color;
}

.client > * {
    vertical-align: middle;
}

.shared .article {
    // @include panel;
}

.internal_influencer-role .shared .article {
    background-color: #FAE8FA;
}

.saved .article {
    // @include panel( $bg: #E8F9E8);
}

.selected .article {
    // @include panel( $bg: #ECFAFF);
}

.title {
    font-weight: 700;
    line-height: 1.1;
}

.client {
    font-weight: 300;
}

.bold {
    font-weight: bold;
}

.grid-item {
    display: flex;
    .postText {
        flex-grow: 1;
    }
}

body:not(.explore-tab) #selectable {
    display: none;
}

.row .row {
    margin: 0!important;
}

.th-url a {
    word-wrap: break-word;
}

// tooltipster light theme
.tooltipster-light {
    border-radius: 5px;
    border: 1px solid #cccccc;
    background: #ededed;
    color: #666666;
    .tooltipster-content {
        font-family: Arial, sans-serif;
        font-size: 14px;
        line-height: 16px;
        padding: 8px 10px;
    }
}


/**
 * ~Data Tables
 * --------------------------------------------------- */

.switch {
    width: 3.75rem;
    height: 2.5rem;
    border-radius: 9999px;
    margin: .5rem;
}

.dataTables_wrapper {
    width: 100%;
}

th {
    font-weight: bold;
    text-align: left;
}

.td-title span,
.td-url a {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.td-url a {
    width: 20rem;
}

.DTTT_print_info {
    position: fixed;
    z-index: 999;
}

.DTTT_container {
    margin-right: 1rem;
    a.DTTT_button {
        box-shadow: none;
        line-height: 1.5rem;
        margin-left: 0.5rem;
    }
}

#search {
    margin-bottom: initial;
    width: 20rem;
    padding-left: 2rem;
    &:focus ~ #search-icon {
        color: $charcoal;
    }
}

#search-icon {
    color: $aluminum;
    transform: translate3d(0.5rem, -1.15rem, 1rem);
}

#searchlabel {
    font-size: 0.8rem;
}

hr {
    margin: 1em 0;
}

.edit-article {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
    transform: rotateY(90deg);
    h2 {
        margin-top: 1rem;
    }
    form {
        flex-grow: 1;
    }
}

.editing .edit-article {
    transform: rotateY(0deg);
    label {
        color: rgba(0, 0, 0, 0.5);
    }
}

.editing .content.article {
    transform: rotateY(90deg);
}


/**
 * ~UTM
 * --------------------------------------------------- */

.article:not(.editing) .utm-tags {
    visibility: hidden;
}

.has-utm-error .utm-tags input {
    color: red;
    background: rgba(175, 0, 0, 0.1);
}

.utm-tags {
    padding: 0.5rem 0;
    input {
        margin-bottom: 0;
        box-shadow: none;
        &:focus {
            background: white;
        }
    }
    input,
    label {
        //height: 1.5rem;
        //line-height: 1.5rem;
    }
}


/*
#drp_autogen0.ui-state-hover,
#drp_autogen0.ui-state-focus {
    border-color: #dddddd;
    background: none;
    .ui-icon {
        background-image: url("http://code.jquery.com/ui/1.11.4/themes/flick/images/ui-icons_666666_256x240.png");
    }
}
*/


/**
 * ~Tags for articles
 * --------------------------------------------------- */

.performance {
    color: rgba(0, 0, 0, .7);
}

.performance.hidden {
    display: none;
}

.bad {
    background: rgb(226, 93, 71);
}

.average {
    background: rgb(251, 150, 91);
}

.good {
    background: rgb(250, 200, 90);
}

.very-good {
    background: rgb(150, 225, 80);
}

.visibility {
    display: none;
    padding: 0.1rem 0.25rem;
    color: white;
    background: #999;
    border: thin solid #999;
    a {
        display: none;
    }
}

.publisher-role .visibility,
.admin-role .visibility {
    display: inline-block;
}

.disabled .visibility {
    color: #999;
    background: none;
}

.disabled {
    background: rgba(242, 242, 242, 0.2);
}

.disabled .postText,
.disabled .post,
.disabled .performance {
    opacity: .25;
}


/**
 * ~Publisher score
 * --------------------------------------------------- */

.score {
    margin-left: .25rem;
    padding: 0.2rem 0.4rem;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    background: gray;
    border-radius: 4px;
}

.publisher-role,
.external_influencer-role {
    .score {
        display: none;
    }
}


/**
 * ~Switch from grid to list view
 * --------------------------------------------------- */

.publisher-role.stats-tab #select-influencer,
#select-influencer.hidden,
.publisher-role .score {
    display: none;
}

#articleTable tr td {
    padding: 0.5rem 0.625rem;
}

.th-created-at {
    width: 10rem;
}

#articleTable td.align-center {
    text-align: center;
}

.publisher-role .view-mode,
.admin-role .view-mode {
    display: none;
}

.publisher-role.explore-tab .view-mode,
.admin-role.explore-tab .view-mode //.publisher-role.stats-tab #publisher-stats,

/*.publisher-role.stats-tab .stats-filter-group*/

{
    display: block;
}


/**
 * ~Terms of Service and Privacy Policy section
 * --------------------------------------------------- */

#legal {
    margin-top: 2rem;
    padding: 1rem;
    color: #999;
    font-size: 0.8rem;
    text-align: right;
    border: thin solid #eee;
}


/**
 * ~Insights
 * --------------------------------------------------- */

.stats-filter-group {
    padding-bottom: 1.5rem;
    h2 {
        margin: 0;
    }
    ul {
        list-style: none;
    }
    ul,
    p {
        margin: 0;
    }
    .stats-group-toggle {
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }
    li {
        a {
            color: inherit;
        }
        span {
            display: inline-block;
            padding: 0 .25rem;
            min-width: 1.5rem;
            color: #fff;
            font-size: .75rem;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            background: #666;
            border-radius: 1.5rem;
            line-height: 1rem;
            transform: translateY(-.075rem);
        }
    }
    input[type="checkbox"] {
        display: none;
        &+label {
            margin-left: 0;
            width: 100%;
            opacity: 0.25;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        &:checked+label {
            opacity: 1;
        }
    }
}

#publisher-stats {
    padding: 1rem;
    h1,
    p {
        margin-bottom: 0;
        text-align: center;
        font-weight: bold;
    }
    h1 {
        color: $base;
        font-size: 0.9rem;
        font-weight: bold;
    }
    p {
        font-size: 1.75rem;
    }
}

.article {
    background: none;
    border: none;
}

.th {
    border: none;
}

.visibility {
    padding: 0;
    color: #999;
    font-weight: normal;
    background: none;
    border: none;
}

.disabled .toggle-enable,
.grid-item:not(.disabled) .toggle-disable {
    display: inline;
}

.sitename {
    border-bottom: thin dotted #ddd;
}

.highlight-on-hover {
    transition: color .2s;
}

.grid-item {
    position: relative;
}

.grid-item:not(.disabled):hover .highlight-on-hover {
    color: #008CBA;
}

.saved .article,
.shared .article,
.selected .article {
    border: none;
}

.score {
    padding: 0;
    color: #333;
    font-size: 0.8rem;
    font-weight: 300;
    background: none;
}

#selectable li {
    position: relative;
}
