div.bordered {
    padding: 0;
    margin-left: 0;
    border: thin solid rgba(0,0,0,0.1);

    input {
        border: none;
    }

    input ~ label {
        display: none;
    }

    input:focus {
        ~ span[class*="bar"] {
            display: none;
        }
    }
}

.keywordsBox {
    // width: 24rem;
}

.input.withIcon {
    margin: 1.2rem 1.2rem 0;
    border-radius: 0.4rem;
}

.inputForm {
    display: flex;
    align-items: center;
    margin: 0.6rem;
    border: thin solid rgba(0,0,0,0.13);
    border-radius: 0.4rem;

    button[class*="toggle"]{
        width: 2.9rem;
        height: 2.9rem;

        > span:not([data-react-toolbox="tooltip"]) {
            line-height: 2.9rem;
        }
    }
}

.input {
    padding: 0;

    .inputElement {
        padding: 0rem;
        font-size: 1.4rem;
        border-bottom: none;
    }

    .bar {
        display: none;
    }
}
