<div class="grid-block vertical">
    <div id="publisher-stats" class="grid-block">
        <div class="grid-block">
            <h1>TOTAL CLICKS</h1>
            <p id="totalClicks"></p>
        </div>
        <div class="grid-block">
            <h1>ESTIMATED
                <span id="aggregated-cost-or-revenue">COST</span>
            </h1>
            <p id="estimatedCost"></p>
        </div>
        <div class="grid-block">
            <h1>AVERAGE CPC</h1>
            <p id="avgCPC"></p>
        </div>
    </div>
    <div>
        <table cellpadding="0" cellspacing="0" border="0" class="display links-only" id="linkTable" width="100%"></table>
    </div>
</div>
