<div class="explore-only articleFilterMessage" style="text-align: center; display: none;">
    <h4>We're currently filtering results to a specific list of articles.
        <a role="button" class="btn btn-link clearArticleFilter">Clear Filter</a>
    </h4>
</div>
<div class="explore-only noResultsMessage" style="text-align: center; display: none;">
    <h4>We couldn't find any articles for your current search options.</h4>
</div>
<div class="grid-mode-only grid-block small-up-1 medium-up-2 large-up-3 xlarge-up-5 xxlarge-up-6" id="selectable"></div>
<div class="table-mode-only grid-block">
    <table cellpadding="0" cellspacing="0" border="0" class="table" width="100%" id="articleTable" style="max-width:100%"></table>
</div>
<div class="explore-only" id="loadRow" style="text-align: center">
    <a id="loadMore" class="button small radius" style="display: none;">Load Additional Results</a>
    <h6 class="subheader" id="feedSearchInfo" style="text-align: center;"></h6>
</div>
