.message {
    margin-bottom: 2.4rem;
    padding: 1.2rem;
    font-size: 1.4rem;
    line-height: 2rem;
}

.addProfileCTA {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    text-align: center;
}

.addProfileCTAHeading {
    font-size: 1.6rem;
    line-height: 2rem;
}

.ctaBody {
    padding: 2.4rem;
    text-align: center;
}

.ctaHeading {
    line-height: 3rem;
}
