.errorMessage {
    max-width: 100%;
    margin-bottom: 2rem;
    font-weight: bold;
    color: #a94442;
}

.sendToBack {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    height: 480px;
}
