<div class="WordSection1">

<p class="MsoNormal" style="margin-bottom:11.0pt;text-align:justify">This Social
Media Influencer Agreement (“<b>Agreement</b>”) is between you (“<b>Influencer</b>”)
and The Social Edge LLC, a New York limited liability company (“<b>TSE</b>”)
concerning TSE’s provision of links to content for use by Influencer in
connection with Influencer’s social media properties.&nbsp; By clicking or
tapping any button or box marked “accept,” “agree” or “OK” (or a similar term)
in connection with this Agreement, you agree to be bound by this Agreement and
affirm that you are 18 years of age or older, and have reached the age of legal
majority in your jurisdiction of residence, if different from 18.&nbsp; This
Agreement hereby incorporates by this reference any additional terms and
conditions with respect to Designated Links, Content, the Content Portal (each
as defined below) or other subject matter hereof that are made available by TSE
through the Content Portal, or otherwise made available to Influencer by TSE.&nbsp;
Each of TSE and Influencer are referred to in this Agreement as a “<b>Party</b>”
and, collectively, as the “<b>Parties</b>.”</p>

<p class="MsoNormal" style="margin-bottom:11.0pt;text-align:justify">If you are
an individual accessing or using Designated Links, Content and/or the Content
Portal on behalf of, or for the benefit of, any company, corporation,
partnership, organization or other entity with which you are associated (an “<b>Organization</b>”),
you represent that you have the legal authority to bind such Organization to
this Agreement; if you do not have such legal authority, such Organization will
not access, use or otherwise benefit from the Designated Links, Content and/or
the Content Portal. References to “you” and to “Influencer” in this Agreement
will refer to both the individual using the Designated Links, Content and/or
the Content Portal and any such Organization.</p>

<p class="MsoNormal" style="margin-bottom:11.0pt;text-align:justify">This
Agreement contains a mandatory arbitration of disputes provision that requires
the use of arbitration on an individual basis to resolve disputes, rather than
jury trials or class actions.</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:.5in;text-align:justify;text-indent:-.25in">1.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp; </span><u>Changes</u>.&nbsp;
TSE may change this Agreement from time to time by notifying Influencer of such
changes by any reasonable means, including by making a revised Agreement
available through the Content Portal. Any changes to this Agreement will not
apply to any dispute between the Parties arising prior to the date on which TSE
made available the revised Agreement incorporating such changes, or otherwise
notified Influencer of such changes.&nbsp; Your clicking or tapping any button
or box marked “Accept,” “Agree” or “OK” (or a similar term) in connection with
this Agreement, or your access to or use of the Designated Links or the Content
Portal, in each case following any changes to this Agreement, will constitute
your acceptance of such changes. The “Last Updated” legend above indicates when
this Agreement was last changed.</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:.5in;text-align:justify;text-indent:-.25in">2.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp; </span><u>Influencer
Acceptance by TSE</u>.&nbsp; Influencer acknowledges and agrees that,
notwithstanding anything to the contrary set forth in this Agreement:</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:1.0in;text-align:justify;text-indent:-.25in">a.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp; </span>TSE has
the right, but not the obligation, to (i) review any information, materials,
communication or request submitted by Influencer to TSE and (ii) elect, in its
sole discretion, whether to accept Influencer as a member of TSE’s influencer
network;</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:1.0in;text-align:justify;text-indent:-.25in">b.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp; </span>Unless and
until Influencer receives a written notice from TSE stating that Influencer has
been accepted by TSE, in TSE’s sole discretion, as a member of TSE’s influencer
network (such receipt of such notice, “<b>Acceptance</b>”), Influencer will
have no rights under this Agreement and TSE will have no obligations under this
Agreement; and</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:1.0in;text-align:justify;text-indent:-.25in">c.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp; </span>Without
limiting the foregoing, prior to Acceptance (i) Influencer will have no right
to access or use any Designated Link, any Content or the Content Portal and
(ii) TSE will have no obligation to (x) make available to Influencer any
Designated Link, any Content or the Content Portal, (y) provide any information
or reports to Influencer or (z) make any payments to Influencer.</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:.5in;text-align:justify;text-indent:-.25in">3.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp; </span><u>TSE
Obligations</u>.&nbsp; Subject to the terms and conditions of the Agreement,
TSE will use commercially reasonable efforts to:</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:1.0in;text-align:justify;text-indent:-.25in">a.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp; </span>Generate
for Influencer unique, designated URL links to certain third-party content
(such links, “<b>Designated Links</b>” and such content, “<b>Content</b>”),
which Designated Links will be available to Influencer via the “Content Portal”
located at http://content.the-social-edge.com (the “<b>Content Portal</b>”),
for use solely on those social media and other online properties or assets
controlled by Influencer, and approved by TSE and designated as Influencer’s
“Influencer Property” on the Content Portal (each, an “<b>Influencer Property</b>”);
and</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:1.0in;text-align:justify;text-indent:-.25in">b.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp; </span>Pay
Influencer for each bona fide click by each bona fide third-party end user on a
Designated Link through an Influencer Property as a result of which such end
user enters the destination website as directed by the Designated Link to view
the applicable Content (each, a “<b>Monetized Click</b>”) in accordance with a
“Click Fee Schedule” published by TSE on the Content Portal that provides the
rate that TSE will pay Influencer for each Monetized Click (“<b>Click Fee
Schedule</b>”).</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:.5in;text-align:justify;text-indent:-.25in">4.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp; </span><u>Influencer
Obligations</u>.&nbsp; Subject to the terms and conditions of the Agreement,
Influencer will:</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:1.0in;text-align:justify;text-indent:-.25in">a.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp; </span>Use the
Designated Links, and no other links, with respect to Content, in the manner
specified by TSE from time to time (including as specified in the Content
Portal);</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:1.0in;text-align:justify;text-indent:-.25in">b.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp; </span>Limit any
comments that Influencer makes with respect to the Designated Links and/or the
Content to comments directly related to the Content only.&nbsp; Without
limitation, Influencer will not make any comment regarding the third-party
publisher, network or other source of the Content;</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:1.0in;text-align:justify;text-indent:-.25in">c.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp; </span>Comply
with each of the following, as well as any additional requirements for social
media properties and influencers as specified in the Content Portal (which may
be updated from time to time) (collectively, “<b>Minimum Requirements</b>”):</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:1.5in;text-align:justify;text-indent:-1.5in"><span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>i.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Influencer will not use other sources of generating traffic except one
of the following social media platforms:&nbsp; Facebook, Twitter, Google Plus,
Tumblr, or Pinterest.</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:1.5in;text-align:justify;text-indent:-1.5in"><span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>ii.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Influencer will not use Designated Links or Content on adult websites or
websites displaying pornography of any kind.</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:1.5in;text-align:justify;text-indent:-1.5in"><span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>iii.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Influencer will not send emails to any mailing list with the intent of
selling a product or service.</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:1.5in;text-align:justify;text-indent:-1.5in"><span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>iv.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Influencer will not use, post, transmit or otherwise make available any
materials that are or may be threatening, harassing, degrading, hateful or
intimidating, including violent or hate-related messages.</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:1.5in;text-align:justify;text-indent:-1.5in"><span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>v.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Influencer will not use RIP messages or register any dead celebrity
pages.</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:1.5in;text-align:justify;text-indent:-1.5in"><span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>vi.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Influencer will not solicit login information or access an account
belonging to someone else.</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:1.5in;text-align:justify;text-indent:-1.5in"><span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>vii.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Influencer will not bully, intimidate, or harass any user of any social
media platform.</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:1.5in;text-align:justify;text-indent:-1.5in"><span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>viii.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Influencer will not facilitate or encourage any violations of this
Agreement (including this Section 4(c));</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:1.0in;text-align:justify;text-indent:-.25in">d.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp; </span>Regularly
monitor the Content Portal throughout the term hereof for updates to the Click
Fee Schedule and the Minimum Requirements;</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:1.0in;text-align:justify;text-indent:-.25in">e.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp; </span>Use the
Designated Links solely on the Influencer Properties;</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:1.0in;text-align:justify;text-indent:-.25in">f.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Provide
TSE with administrative access to each of the Influencer Properties (at the
editor level or higher, or at such level that provides TSE access to pertinent
performance metrics of Influencer Properties and to scheduling of posts), and
hereby designates TSE to post Designated Links on each of the Influencer Properties;
and</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:1.0in;text-align:justify;text-indent:-.25in">g.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp; </span>Promptly
remove, or permit TSE to remove (if TSE has necessary access rights), any post
on an Influencer Property that contains a Designated Link and that TSE
believes, in its sole discretion, to be in violation of this Agreement.&nbsp;
Influencer agrees that TSE may (but does not have any obligation to) monitor
Influencer’s activities under this Agreement.</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:.5in;text-align:justify;text-indent:-.25in">5.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp; </span><u>Payments</u>.&nbsp;
Influencer acknowledges and agrees that:</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:1.0in;text-align:justify;text-indent:-.25in">a.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp; </span>The
quality and nature of Influencer Properties is of critical importance to TSE;
accordingly Influencer will not place Designated Links or otherwise reference
Content on any Influencer Property that does not satisfy the Minimum
Requirements;</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:1.0in;text-align:justify;text-indent:-.25in">b.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp; </span>TSE is not
obligated to pay Influencer for any clicks related to any Influencer Property
that, in TSE’s sole judgment, does not meet the then-applicable Minimum
Requirements;</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:1.0in;text-align:justify;text-indent:-.25in">c.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp; </span>TSE is not
obligated to pay Influencer for any clicks on any link other than a Designated
Link, or for any clicks on any links that are not, in TSE’s sole judgment,
presented to users in the manner specified by TSE;</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:1.0in;text-align:justify;text-indent:-.25in">d.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp; </span>TSE is not
obligated to pay Influencer for any clicks generated with malicious or
fraudulent intent, or otherwise not in good faith, or which are not the result
of genuine end user action (e.g., which result from use of any device, robot or
other automated means); and</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:1.0in;text-align:justify;text-indent:-.25in">e.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp; </span>The Click
Fee Schedule and the Minimum Requirements are subject to change at any time, at
the sole discretion of TSE, and TSE will provide notice to Influencer of any
such changes by any reasonable means, including by posting a revised Click Fee
Schedule or Minimum Requirements on the Content Portal.</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:.5in;text-align:justify;text-indent:-.25in">6.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp; </span><u>Payment
Terms; Expenses</u>.&nbsp; TSE will use commercially reasonable efforts to
remit a monthly report to Influencer setting forth a reasonably detailed
accounting of the amounts owed to Influencer under this Agreement.&nbsp;
Subject to the terms and conditions of this Agreement (including Influencer’s
compliance therewith), TSE will pay Influencer any undisputed sums accrued and
due to Influencer hereunder for Monetized Clicks during a given month during
the term of this Agreement within sixty (60) days following the end of that
month.&nbsp; Each Party is responsible for all expenses incurred by such Party
in connection with this Agreement.</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:.5in;text-align:justify;text-indent:-.25in">7.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp; </span><u>Sponsorship
and Other Arrangements</u>.&nbsp; Content under this Agreement is not intended
to include any content involving advertising, sponsorship, publicity or
promotion of any content, site, page, product, service, brand or company
through or on any Influencer Property (collectively, “<b>Sponsorship</b>”).&nbsp;
On a case-by-case basis, if the Parties elect to proceed with a Sponsorship or
any other arrangement not addressed by this Agreement, the Parties will
negotiate and enter into a separate agreement with respect to such Sponsorship
or other arrangement.</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:.5in;text-align:justify;text-indent:-.25in">8.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp; </span><u>Promotional
Methods</u>.&nbsp; Notwithstanding anything in this Agreement to the contrary,
TSE will not make any payment of fees to Influencer (and, if such fees have
been previously paid to Influencer, TSE will be entitled to a refund of such
fees or credit against future amounts payable, at TSE’s election) for any
Monetized Clicks that (a) arise in connection with or as a result of any
promotional means not authorized by TSE’s policies and procedures, including
(i) Monetized Clicks generated other than through intended end user action
(e.g., through the use of databases of email addresses and/or other personal
information); (ii) use of fake redirects, automated software, or other
mechanisms to generate Monetized Clicks; and (iii) Monetized Clicks generated
with malicious or fraudulent intent, or otherwise not in good faith, or not the
result of genuine end user action, such as use of any device or robot (e.g.,
“click bots” and “botnets”), “pay-to-click sites,” “click farms,” iframes,
hidden frames, or similar mechanisms and techniques; and/or (b) are alleged by
the applicable Content publisher to arise in connection with or out of any of
the foregoing.&nbsp; Except as expressly permitted in writing in advance by
TSE, Influencer will not, directly or indirectly, use any incentive to promote
Content, TSE, Designated Links or other links in order to generate Monetized
Clicks, or otherwise procure Monetized Clicks.</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:.5in;text-align:justify;text-indent:-.25in">9.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp; </span><u>Availability
of Content</u>.&nbsp; Designated Links to certain Content may be rendered
ineffective from time to time due to, for example, inventory limitations,
reports of malware, or non-compliance with TSE’s content or ad guidelines, and
TSE will use commercially reasonable efforts to notify Influencer of any
affected, unused Designated Links.</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:.5in;text-align:justify;text-indent:-.25in">10.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span><u>Proprietary Rights</u>.</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:1.0in;text-align:justify;text-indent:-.25in">a.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp; </span><i>Use of
Content Portal. </i><b>&nbsp;</b>Subject to Influencer’s compliance with this
Agreement and with the Terms of Service for the Content Portal (“<b>Terms of
Service</b>,” available at http://content.the-social-edge.com, and hereby
incorporated herein by this reference), and solely for so long as Influencer is
permitted by TSE to use the Content Portal, Influencer or its authorized
designee may access and use the Content Portal, solely to make Designated Links
available through Influencer Properties and otherwise perform Influencer’s
obligations under this Agreement, and to verify the number of Monetized Clicks
(provided that access and use of the Content Portal by an Influencer authorized
designee is subject to TSE’s prior written approval, which approval may be
withheld in TSE’s sole reasonable discretion).&nbsp; TSE will provide Influencer
and its approved authorized designee (as applicable) with any necessary
information to access the Content Portal, including any username, password
and/or other login information (collectively, “<b>Access Credentials</b>”).&nbsp;
Access Credentials are for Influencer’s and its approved authorized designee’s
use only and must be kept confidential.&nbsp; Influencer will be responsible
for the acts and omissions of its approved authorized designee, and for all use
and misuse of Access Credentials provided to Influencer or its authorized
designee (as applicable).&nbsp; Influencer will promptly notify TSE of any
actual or suspected confidentiality breach or unauthorized disclosure or use of
Access Credentials.</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:1.0in;text-align:justify;text-indent:-.25in">b.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp; </span><i>Reservation
of Rights.</i><b>&nbsp; </b>Except as otherwise expressly provided herein, (i)
nothing in this Agreement will be deemed to grant to you, directly or by
implication, estoppel or otherwise, any right or license with respect to any
technology, content or other materials (including any intellectual property
rights therein), and (ii) TSE retains all right, title and interest in and to
its intellectual property rights.</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:.5in;text-align:justify;text-indent:-.25in">11.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span><u>Representations and
Warranties</u>.&nbsp; Influencer represents and warrants to TSE that: (a) it
has the authority to enter into this Agreement and to perform its obligations
hereunder; and (b) it will comply with all applicable laws, statutes,
ordinances, and regulations in the performance of its obligations
hereunder.&nbsp; Influencer further represents and warrants to TSE that
Influencer will comply with applicable industry best practices and social media
platform rules (including any Terms of Use or similar terms applicable to any
Influencer Property) in connection with use of the Influencer Properties,
Content and Designated Links.</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:.5in;text-align:justify;text-indent:-.25in">12.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span><u>Disclaimer</u>.&nbsp;
EXCEPT TO THE EXTENT EXPRESSLY SET FORTH HEREIN, TSE EXPRESSLY DISCLAIMS ANY
AND ALL REPRESENTATIONS AND WARRANTIES, WHETHER EXPRESS, IMPLIED, OR STATUTORY,
INCLUDING THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
PURPOSE AND NON-INFRINGEMENT.&nbsp; WITHOUT LIMITING THE FOREGOING, INFLUENCER
ACKNOWLEDGES AND AGREES THAT TSE, ITS AFFILIATES AND ITS CONTENT PUBLISHERS
MAKE NO REPRESENTATIONS OR WARRANTIES AS TO, AND WILL HAVE NO LIABILITY UNDER
THIS AGREEMENT OR OTHERWISE WITH RESPECT TO, CONTENT, DESIGNATED LINKS, THE
REACH, ENGAGEMENT, FAN NUMBERS AND MONETIZATION OF APPROVED PROPERTIES, THE
PUBLIC RESPONSE OR RECEPTION TO THE CONTENT, THE LEVEL OF VIEWERSHIP OR
ENGAGEMENT WITH THE FOREGOING, OR THE AMOUNT OF REVENUE GENERATED THEREFROM.</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:.5in;text-align:justify;text-indent:-.25in">13.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span><u>Indemnification</u>.&nbsp;
Influencer will defend, indemnify and hold harmless TSE, its affiliates and its
content publishers, and each of its and their respective employees, directors,
officers, advisors and agents (collectively, “<b>Indemnified Parties</b>”),
from and against all costs, claims, losses, expenses (including attorneys’
fees) and liabilities arising in connection with any third-party claim arising
out of or in connection with any Influencer Property (including any materials
or content associated therewith) or any Influencer breach of this Agreement.</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:.5in;text-align:justify;text-indent:-.25in">14.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span><u>Limitation of Liability</u>.&nbsp;&nbsp;
IN NO EVENT WILL TSE OR ANY INDEMNIFIED PARTY BE LIABLE FOR ANY INDIRECT,
INCIDENTAL, SPECIAL, CONSEQUENTIAL, EXEMPLARY OR PUNITIVE DAMAGES OF ANY KIND,
UNDER ANY CONTRACT, TORT (INCLUDING NEGLIGENCE), STRICT LIABILITY OR OTHER THEORY,
INCLUDING DAMAGES FOR LOSS OF PROFITS, REVENUE, USE OR DATA OR LOSS OF OTHER
INTANGIBLES, EVEN IF ADVISED IN ADVANCE OF THE POSSIBILITY OF SUCH DAMAGES OR
LOSSES.&nbsp; THE MAXIMUM AGGREGATE LIABILITY OF TSE AND ALL OTHER INDEMNIFIED
PARTIES, COLLECTIVELY, FOR ALL DAMAGES, LOSSES AND CAUSES OF ACTION ARISING OUT
OF OR RELATING TO THIS AGREEMENT, WHETHER IN CONTRACT, TORT (INCLUDING
NEGLIGENCE) OR OTHERWISE, WILL BE THE GREATER OF (A) THE TOTAL AMOUNT PAID BY
TSE TO INFLUENCER UNDER THIS AGREEMENT; AND (B) ONE THOUSAND DOLLARS ($1,000).</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:.5in;text-align:justify;text-indent:-.25in">15.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span><u>Term and Termination</u>.&nbsp;
This Agreement will remain in effect until terminated.&nbsp; Either Party may
terminate this Agreement at any time upon thirty (30) days’<b> </b>advance
written notice to the other Party.&nbsp; Subject to the terms and conditions of
this Agreement (including Influencer’s compliance therewith), upon termination
of this Agreement in accordance with the terms of this Agreement, TSE will pay
Influencer any undisputed sums accrued and due to Influencer hereunder up
through the termination date within sixty (60) days following the termination
date.&nbsp; Upon termination of this Agreement, Influencer’s right to use
Designated Links, Content and the Content Portal will immediately cease.&nbsp;
The preamble and the provisions of Sections 1, 2, 8, 10(b), 11, 12, 13, 14, 15
(except the first two sentences), 0 and 17 will survive any termination of this
Agreement.</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:.5in;text-align:justify;text-indent:-.25in">16.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span><u>Confidentiality</u>.</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:1.0in;text-align:justify;text-indent:-.25in">a.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp; </span>“<b>Confidential
Information</b>” means all information and material, whether in oral, written,
graphic, electronic or other form, disclosed by TSE to Influencer that is
designated, at or before the time of disclosure, as proprietary or
confidential, or provided under circumstances reasonably indicating that the
information or material is proprietary or confidential.&nbsp; Without limiting
the foregoing, the existence of this Agreement, the terms and conditions of
this Agreement, the fees paid or payable to Influencer under this Agreement,
the reports provided by TSE to Influencer pursuant to Section 6 and any
information of TSE’s content publishers disclosed by TSE to Influencer will be
Confidential Information.</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:1.0in;text-align:justify;text-indent:-.25in">b.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp; </span>Influencer
agrees, except as otherwise provided in this Agreement, that it (i) will hold
all Confidential Information in confidence and will treat such Confidential
Information with at least the same degree of care as it would its own highly
confidential information (but with no less than reasonable care); (ii) will not
copy or use (or allow any of its employees, contractors or agents to copy or
use) any Confidential Information, except in connection with exercising
Influencer’s rights under this Agreement or performing Influencer’s obligations
under this Agreement; and (iii) will not disclose or otherwise make available
any Confidential Information to any third party except as authorized in writing
and in advance by TSE.&nbsp; As between the Parties, all Confidential
Information is and will remain the sole property of TSE.</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:1.0in;text-align:justify;text-indent:-.25in">c.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp; </span>The
foregoing restrictions on use and disclosure will not apply to any Confidential
Information to the extent that Influencer can establish that such Confidential
Information (i) is or has become generally known to the public through no
unlawful act of Influencer; (ii) was known to Influencer prior to the time of
its disclosure to Influencer by TSE; (iii) was independently developed by
Influencer without any use of Confidential Information; (iv) becomes known to
Influencer from a source other than TSE without breach of this Agreement and
otherwise not in violation of TSE’s rights; (v) such disclosure is approved in
advance and in writing by TSE; or (vi) Influencer is legally compelled to
disclose such Confidential Information, provided that Influencer will give
advance notice of such compelled disclosure to TSE, and will cooperate with TSE
in connection with any efforts to prevent or limit the scope of such disclosure
and/or use of such Confidential Information.</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:.5in;text-align:justify;text-indent:-.25in">17.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span><u>Miscellaneous</u>.</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:1.0in;text-align:justify;text-indent:-.25in">a.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp; </span><i>Relationship
of Parties; Third Party Beneficiaries.</i>&nbsp; Subject to Section 3(a),
nothing contained in this Agreement is intended to create or creates an
exclusive relationship between the Parties, and each of TSE and Influencer are
free to enter into similar agreements with third parties.&nbsp; Nothing in this
Agreement will constitute a partnership, joint venture or agency relationship
between the Parties, and the Parties will at all times be and remain
independent contractors.&nbsp; Except as expressly agreed by the Parties in
writing, neither Party will have any right or authority, express or implied, to
assume or create any obligation of any kind, or to make any representation or
warranty, on behalf of the other Party or to bind the other Party in any
respect whatsoever.&nbsp; Influencer will be solely responsible for all tax
returns and payments required to be filed with or made to any federal, state or
local tax authority with respect to receipt of fees under this Agreement.&nbsp;
Nothing in this Agreement will be construed to confer upon any third party a
right of action under this Agreement or in any manner whatsoever.</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:1.0in;text-align:justify;text-indent:-.25in">b.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp; </span><i>Integration
and Severability.</i>&nbsp; This Agreement sets forth the entire agreement and
understanding between the Parties relating to its subject matter and merges all
prior discussions between the Parties.&nbsp;&nbsp; If any provision of this
Agreement is held by a court of competent jurisdiction to be unenforceable for
any reason, the remaining provisions hereof and thereof will be unaffected and
remain in full force and effect.</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:1.0in;text-align:justify;text-indent:-.25in">c.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp; </span><i>Governing
Law; Dispute Resolution. </i>&nbsp;The validity, interpretation, construction,
and performance of this Agreement will be governed by the laws of the State of
New York, without giving effect to the principles of conflict of laws.&nbsp;
If, at any time during the term of this Agreement, the Parties have a dispute
or claim arising out of or relating to this Agreement or the breach thereof (a
“<b>Dispute</b>”), the Parties will submit such Dispute to a single mediator,
such mediation to be administered by the American Arbitration Association (“<b>AAA</b>”)
pursuant to its Commercial Arbitration Rules and Mediation Procedures, as
amended by the terms of this Agreement (“<b>AAA Rules</b>”).&nbsp; In the event
that mediation fails to resolve the Dispute, the Parties will submit such
Dispute to a single arbitrator to be administered by AAA pursuant to the AAA
Rules.&nbsp; Any mediation or arbitration will take place in the County of New
York, State of New York.&nbsp; The costs of any mediation or arbitration,
including the fees and expenses of the mediator or arbitrator, will be shared
equally by the Parties.&nbsp; Any mediation or arbitration will be conducted in
strict confidence.&nbsp; Any decision by the arbitrator will be based upon the
substantive law of the State of New York (exclusive of its choice of law
principles) or applicable federal law (including federal arbitration
law).&nbsp; The arbitrator’s decision will follow the plain meaning of the
relevant documents and will be final and binding.&nbsp; The award may be
confirmed and enforced in any court of competent jurisdiction.&nbsp; The
arbitrator’s power to award damages will be limited by the terms of this
Agreement.</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:1.0in;text-align:justify;text-indent:-.25in">d.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp; </span><i>Waiver.
</i>&nbsp;No failure or delay on the part of either Party in the exercise of
any right or privilege hereunder will operate as a waiver thereof or of the
exercise of any other right or privilege hereunder, nor will any single or
partial exercise of any such right or privilege preclude other or further
exercise thereof or of any other right or privilege.</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:1.0in;text-align:justify;text-indent:-.25in">e.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp; </span><i>Assignment.</i>&nbsp;
The terms and conditions of this Agreement will bind and inure to the benefit
of the respective successors and assigns of the Parties.&nbsp; Influencer may
not assign, transfer or sublicense any or all of its rights or obligations
under this Agreement without TSE’s express prior written consent. TSE may
assign, transfer or sublicense any or all of its rights or obligations under
this Agreement without restriction.&nbsp; Any purported assignment prohibited
hereunder will be null and void.</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:1.0in;text-align:justify;text-indent:-.25in">f.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><i>Notices.</i>&nbsp;
Any notice, demand, consent, election, offer, approval, request, or other
communication (collectively, a “<b>notice</b>”) required or permitted under
this Agreement will be in writing and (i) if delivered to TSE, addressed to <span style="background:transparent">The Social Edge LLC, 1350 Broadway, Suite 2000,
New York NY 10018, [info@thesocialedgegroup.com]</span>, or (ii) if delivered
to Influencer, addressed to <span style="background:transparent">the most
recent mailing address or email address for Influencer set forth in the Content
Portal</span>,&nbsp; <b><span style="background:yellow">[TSE:&nbsp; Please
confirm appropriate notice information for each of TSE and Influencer.]</span></b>&nbsp;
in each case delivered by (1) personal delivery; (2) certified or registered
mail, postage prepaid; or (3) email.&nbsp; Notices given as provided in this
Section 17(f) will be deemed effective: (x) on the date hand delivered; (y) on
the third business day after the depositing thereof into the exclusive custody
of a national postal service with all required postage paid in full; and (z) on
the date of a verified electronic mail transmission.&nbsp; Any Party may
designate, by proper notice to the other Party, a substitute address or
addresses for notice; thereafter, notices are to be directed to those
substitute address or addressees.</p>

<p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:12.0pt;
margin-left:1.0in;text-align:justify;text-indent:-.25in">g.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp; </span><i>Miscellaneous</i>.&nbsp;
The captions and section and paragraph headings used in this Agreement are
inserted for convenience only and will not affect the meaning or interpretation
of this Agreement.&nbsp; The words “include,” “includes” and “including” in
this Agreement will be deemed to be followed by the phrase “without
limitation.”&nbsp; TSE may (but has no obligation to) disclose to third parties
its relationship with Influencer, including the terms and conditions of this Agreement.&nbsp;
All rights and remedies hereunder will be cumulative, may be exercised
singularly or concurrently and, unless otherwise stated herein, will not be
deemed exclusive.&nbsp; If any legal action is brought to enforce any
obligations hereunder, the prevailing Party will be entitled to receive its
attorneys’ fees, court costs and other collection expenses, in addition to any
other relief it may receive.&nbsp; Each Party will be excused from performance
under this Agreement for any period to the extent that a Party is prevented
from performing any obligation, in whole or in part, as a result of causes
beyond its reasonable control and without its negligent or willful misconduct,
including without limitation, acts of God, natural disasters, war or other
hostilities, labor disputes, civil disturbances, governmental acts, orders or
regulations, third party nonperformance, or failures or fluctuations in
electrical power, heat, light, air conditioning or telecommunications
equipment.</p>

<p class="MsoNormal">&nbsp;</p>

</div>
