.list {
	margin: 2rem 1rem 3rem;
    padding: 1rem;
    padding-bottom: 0;
    background: white;
}

.articles {
    height: 35.8rem;
    will-change: scroll-position;
    white-space: nowrap;
    overflow: auto;
}

.article {
    display: inline-block;
    padding: 1rem;
    padding-bottom: 0;
    width: 19%;
    white-space: normal;
}

.sectionTitle {
    font-size: 2rem;
    line-height: 2rem;
}

/*
@media screen and (max-width: 1024px) {
	.list {
		.articles{
		}
	}

    .sectionTitle {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 480px) {
	.list {
		width: 70vw;
	    margin: 0 2.5vw 80px 2.5vw;
	    float: left;

		.articles{
		}
	}
}
*/
