.list{
	width: calc(100vw - 60px);
	height: 430px;
	margin-bottom: 30px;

	.articles{
	    display: flex;
	    padding: 1rem 1.5rem 2rem;
	    flex-wrap: wrap;
    	will-change: scroll-position;
    	overflow: hidden;
    	height: 350px;
	}

	.actions{
		width: 100%;
		justify-content: flex-end;
		margin-top: 5px;
	}
}

@media screen and (max-width: 1024px) {
	.list{
		height: 830px;
		.articles{
			height: 690px;
		}
	}
}

@media screen and (max-width: 480px) {
	.list{
		height: auto;
		width: 70vw;
	    margin: 0 2.5vw 80px 2.5vw;
	    float: left;

		.articles{
			height: auto;
		}
	}
}