.container {
    margin: auto;
    padding: 2rem 0;
    width: 100%;
}

button[class*="neutral"].saveButton:not(:disabled) {
    padding: 0 5rem;
    color: white;
    background: rgb(69,183,87);
}

@media (min-width: 1000px) {
    .container {
        width: 960px;
    }
}
