#settings {

    h1 {
        font-size: 4rem;
    }

    .formGroup {
        margin: 2rem 0;
    }

    #topics-group {
        #topics-selector {
            width: 100%;
        }
    }

    .emailGroup {

        :global .input-group {
            width: 100%;
        }

        input {
            border-radius: 4px;
        }
    }
}
