.emptyState {
    text-align: center;
}

.footer {
    display: flex;
    margin: 1rem auto 5rem auto;
    width: 18rem;
    flex-direction: column;
    justify-content: center;
}

.thumbnail {
    display: block;
    margin: auto;
    padding-top: 2rem;
}

button[class*="neutral"]:not(:disabled).exploreContempoButton {
    margin-top: 2rem;
    color: white;
    background-color: $palette-green-500;

    &:hover {
        background-color: $palette-green-500;
    }
}

@media screen and (max-width: 376px) {

    button[class*="neutral"]:not(:disabled).exploreContempoButton {
        padding-bottom: 2rem 0;
        width: 85%;
        font-size: 1.5rem;
    }

}
