.iconMenu {
    .icon:not([disabled]) {
        color: white;
        width: 1.2rem;
        border-radius: .2rem;

        span[data-react-toolbox="ripple"] {
            display: none;
        }
    }


    &.disabled {
        .icon {
            color: rgba($color-black, 0.24);
        }
    }
}

.buttonWithDropdown {
    display: inline-block;
    background: $color-accent;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);

    .button:not([disabled]) {
        color: white;
    }

    &.disabled {
        background-color: rgba($color-black, 0.12);
    }
}
