@import '../../../scss/variables';

.root {
    display: flex;
    align-items: center;
}

.iconMenu {
    .icon:not([disabled]) {
        width: 1.2rem;
        border-radius: .2rem;

        span[data-react-toolbox="ripple"] {
            display: none;
        }
    }


    &.disabled {
        .icon {
            color: rgba($color-black, 0.24);
        }
    }
}

.buttonWithDropdown {
    display: inline-block;
}

.scheduler {
    display: flex;
    margin: 0 0.6rem;
}
