@import "../../../../scss/react-toolbox-theme";
.headerCell {
    padding: 10px;
}

.headerCell [data-react-toolbox="button"] {
    position: absolute;
    top: 6px;
    right: 5px;
}

.headerCell.isDescending [data-react-toolbox="button"] {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}

.headerCell.isDescending [data-react-toolbox="button"] [data-react-toolbox="font-icon"] {
    position: relative;
    top: -5px;
}

.cellLink {
    display: inline-block;
    width: 152px;
}

.pagination .pages [data-react-toolbox="button"] {
    min-width: 1em;
}

.svgIcon {
    fill: $color-text;
    height: 2.4rem;
    width: 3.4rem;
    display: inline-block;
    margin-top: .6rem;
    left: -.6rem;
    position: relative;
}
