.analytics {
    display: flex;
    background: white;

    aside {
        flex: 2;
        background: $palette-grey-200;
    }
}

.content, .disabled {
    background: $palette-grey-100;
}

.content {
    flex: 10;
}

.subheader {
    margin-top: 0.75rem;
}

.linksTable {
    width: 100%;
    background: $palette-grey-100;

    td, th {

        &:first-child {
            width: 60%;
        }

        &:not(:first-child) {
            width: 10%;
        }
    }


    thead {
        tr {
            box-shadow: 2px 0px 8px rgba(0,0,0,0.25);
        }

        th {
            padding: 2rem 0;
            font-size: 1.4rem;
            font-weight: bold;
            text-transform: uppercase;

            &:first-child {
                padding-left: 2rem;
            }
        }
    }

    tbody {

        tr:not(:last-child) {
            border-bottom: thin solid $palette-grey-200;
        }
        
        tr:hover {
            background: white;
            box-shadow: 2px 0px 4px rgba(0,0,0,0.1);
        }
    }
}

.heading {
    display: block;
    padding-left: 2rem;
    color: black;
    font-weight: 500;
    transform: translateY(.5rem);
}

.linkComponent {
    padding: 1rem 0 1rem 2rem;

    header, small a {
        font-weight: 400;
    }

    header {
        font-size: 1.8rem;
    }

    small {
        color: $palette-grey-800;
        font-weight: 700;
        text-transform: uppercase;

        a {
            text-transform: initial;
        }
    }

    footer {
        color: $palette-grey-800;
        font-size: 1.4rem;
        font-weight: 300;
    }
}

.stickyHeader {
    position: fixed;
    top: 10rem;
    transition: all .2s ease-out;
}
