.linkTable {
    margin-bottom: 40px;
    padding: 0 1rem;

    :global .griddle-container {
        border: none !important;
    }

    .siteName {
        margin-right: 0.5rem;
        color: rgba(0,0,0,0.56);
        text-transform: uppercase;
        font-weight: 700;
    }

    tr:not(:last-of-type) {
        border-bottom: thin solid rgba(0,0,0,0.06);
    }

    table {
        table-layout: auto !important;
    }
}

.linkRow {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.sortable {
    width: 10%;
    font-weight: 500;
}

.avatar {
    margin-right: 1.4rem;
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.influencer {
    width: 35%;
}

.title {
    width: 30%;
    [data-react-toolbox="font-icon"] {
        color: grey;
        font-size: 1em;
        vertical-align: text-bottom;
        margin-bottom: 2px;
        margin-left: .5em;
    }
}

.site {
    width: 10%;
    [data-react-toolbox="font-icon"] {
        color: grey;
        font-size: 1em;
        vertical-align: text-bottom;
        margin-bottom: 2px;
        margin-left: .5em;
    }
}

.revenue {
    width: 5%;
}

.reach {
    width: 5%;
}

.ctr {
    width: 5%;
}

.sharedate{
    width: 10%;
}

.headline {
    max-width: 100%;
    overflow: hidden;
    font-weight: 400;
}

.metadata {
    color: rgba(0,0,0,0.56);
}

.tableLoading{
    color: blue;
    position: relative;
}

.tableLoading:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.6);
}
