.linkTable {
    margin: 0 -1rem 4rem -1rem;

    :global .griddle-container {
        border: none !important;
    }

    .siteName {
        margin-right: 0.5rem;
        color: rgba(0,0,0,0.56);
        text-transform: uppercase;
        font-weight: 700;
    }

    tr:not(:last-of-type) {
        border-bottom: thin solid $palette-grey-400;
    }

    table {
        table-layout: auto !important;
    }

    thead, tbody {
        background: $palette-grey-100;
    }

    thead tr {
        border-bottom: .4rem solid $palette-grey-300;
        
        th {
            color: $palette-grey-800;
            line-height: 4rem;
            text-transform: uppercase;
            background: transparent;
            border-bottom: none;

            &:first-of-type {
                padding-left: 2rem;
            }
        }
    }

    tr td {
        font-size: 1.6rem;
        font-weight: 300;
    }

}

.linkRow {
    padding: 1rem;

    img {
        float: left;
    }

    p, a {
        font-size: 1.6rem;
        font-weight: 300;
    }

    a:hover {
        cursor: pointer;
    }
}

.sortable {
    width: 10%;
    font-weight: 500;
}

.avatar {
    margin-right: 1.4rem;
    width: 36px;
    height: 36px;
    border-radius: 50%;

    @media (max-width: 1100px) {
        display: none;
    }
}

.influencer {
    width: 15%;
}

.title {
    width: 30%;
    [data-react-toolbox="font-icon"] {
        color: grey;
        font-size: 1em;
        vertical-align: text-bottom;
        margin-bottom: 2px;
        margin-left: .5em;
    }

    img {
        margin-right: 10px;
        width: 25%;
        height: 6.4rem;
        float: left;
        object-fit: cover;

        @media (max-width: 1100px) {
            display: none;
        }
    }

    .titleText {
        width: 70%;

        @media (max-width: 1100px) {
            width: 100%;
        }

        a {
            color: black;
        }
    }
}

.site {
    width: 10%;
    [data-react-toolbox="font-icon"] {
        color: grey;
        font-size: 1em;
        vertical-align: text-bottom;
        margin-bottom: 2px;
        margin-left: .5em;
    }
}

.revenue {
    width: 5%;
}

.clicks {
    width: 5%;
}

.reach {
    width: 5%;
}

.ctr {
    width: 5%;
}

.sharedate{
    width: 10%;
}

.headline {
    max-width: 100%;
    overflow: hidden;
    font-weight: 400;
}

.metadata {
    color: rgba(0,0,0,0.56);
}

.tableLoading{
    color: blue;
    position: relative;
}

.tableLoading:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.6);
}
