@import '../../../scss/variables';

.linksTable {
    width: 100%;

    :global .griddle-container {
        margin: -1rem;
        border: none !important;
    }

    .siteName {
        margin-right: 0.5rem;
        color: rgba(0,0,0,0.56);
        text-transform: uppercase;
        font-weight: 700;
    }

    tr:last-child td {
        padding-right: 1rem;
    }

    tr:not(:last-of-type) {
        border-bottom: thin solid $palette-grey-400;
    }

    tr td {
        font-size: 1.6rem;
        font-weight: 300;
    }

    thead tr {
        background: $palette-grey-200;
        box-shadow: 2px 0px 8px rgba(0,0,0,0.25);

        th {
            padding: 2rem 0;
            font-size: 1.4rem;
            font-weight: bold;
            text-transform: uppercase;

            &:first-child {
                padding-left: 2rem;
            }
        }
    }

    tbody {

        &:last-of-type {
            select {
                background: transparent;
            }
        }

        &:first-of-type {
            border-bottom: .4rem solid $palette-grey-300;
        }

        tr {
            background: $palette-grey-50;

            &:hover {
                background: white;
                box-shadow: 2px 0px 4px rgba(0,0,0,0.1);
            }

            &:not(:hover) .showOnHover {
                visibility: hidden;
            }
        }
    }

    :global {
        .footer-container {
            padding: 1rem;
            padding-bottom: 5rem;
        }

        .griddle-footer div {
            display: flex;
            justify-content: space-between;
        }

        .griddle-previous button,
        .griddle-next button {
            font-weight: bold;
            background: transparent;
            border: none;

        }

        .griddle-previous button::before {
            content: " \2190";
        }

        .griddle-next button::after {
            content: " \2192";
        }

        .griddle-page {
            color: $palette-grey-400;

            &:before {
                margin-right: 1rem;
                content: "page";
                color: black;
                font-weight: bold;
                text-transform: uppercase;
            }

            select {
                width: 2rem;
                -moz-appearance: none;
                -webkit-appearance: none;
                color: black;
                font-size: 1.6rem;
                font-weight: bold;
                line-height: 1.6rem;
                background: transparent;
                border: none;
            }
        }
    }

    &.accounting {
        td, th {
            width: 9.5%;

            &:first-child {
                width: 50%;
            }

            &:last-child {
                width: 12%;
            }
        }
    }

    &.dashboard {
        td, th {
            width: 6%;

            &:last-child {
                width: 15%;
            }
        }

        .influencer {
            width: 15%;
        }

        .title {
            width: 30%;
            [data-react-toolbox="font-icon"] {
                color: grey;
                font-size: 1em;
                vertical-align: text-bottom;
                margin-bottom: 2px;
                margin-left: .5em;
            }

            img {
                margin-right: 10px;
                width: 25%;
                height: 6.4rem;
                float: left;
                object-fit: cover;

                @media (max-width: 1100px) {
                    display: none;
                }
            }

            .titleText {
                width: 70%;

                @media (max-width: 1100px) {
                    width: 100%;
                }

                a {
                    color: black;
                }
            }
        }

        .site {
            width: 10%;
            [data-react-toolbox="font-icon"] {
                color: grey;
                font-size: 1em;
                vertical-align: text-bottom;
                margin-bottom: 2px;
                margin-left: .5em;
            }
        }

        .sharedate{
            width: 10%;
        }

        .actions {
            width: 10%;
        }

    }
}

.cpcTable {
    width: auto;
    margin: auto;
    margin-top: 1rem;
    text-align: left;

    td {
        padding: 4px 0;

        &:first-child {
            padding: 4px 2rem;
        }

        &:last-child {
            padding-right: 2rem;
        }
    }
}

.cpcSection {
    margin: auto;
}

.linkComponent {
    padding: 1rem 0 1rem 2rem;

    header, small a {
        font-weight: 400;
    }

    header {
        font-size: 1.8rem;
    }

    small {
        color: $palette-grey-800;
        font-weight: 700;
        text-transform: uppercase;

        a {
            text-transform: initial;
        }
    }

    footer {
        color: $palette-grey-800;
        font-size: 1.4rem;
        font-weight: 300; }
}

.linkRow {
    padding: 1rem;

    img {
        float: left;
    }

    p, a {
        font-size: 1.6rem;
        font-weight: 300;
    }

    a:hover {
        cursor: pointer;
    }
}

.sortable {
    width: 10%;
    font-weight: 500;
}

.avatar {
    margin-right: 1.4rem;
    width: 36px;
    height: 36px;
    border-radius: 50%;

    @media (max-width: 1100px) {
        display: none;
    }
}

.headline {
    max-width: 100%;
    overflow: hidden;
    font-weight: 400;
}

.metadata {
    color: rgba(0,0,0,0.56);
}

.tableLoading{
    position: relative;
}

.tableLoading:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.6);
}

.stickyHeader {
    position: fixed;
    top: 11.2rem;
    left: 0;
    width: 100%;
}

.pinned .stickyHeader {
    box-shadow: 2px 0px 8px rgba(0,0,0,0.25);
}

.siteSummaryContainer {
    h1 {
        color: rgba(0,0,0,0.9);
        font-size: 1.6rem;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
    }

    .siteSummaryTable {
        width: auto;
        margin: auto;
        margin-top: 1rem;
        text-align: left;

        .overbudget {
            color: red;
        }

        .warning {
            color: #F47A00;
        }

        th {
            padding: 4px 6px;
            font-size: 1.4rem;
            font-weight: bold;
            text-transform: uppercase;

            &:first-child {
                padding-left: 2rem;
            }
        }

        td {
            padding: 4px 6px;

            &:first-child {
                padding: 4px 2rem;
            }

            &:last-child {
                padding-right: 2rem;
            }
        }
    }
}

:global(#analytics):not(.pinned) .stickyHeader,
:global(#accounting):not(.pinned) .stickyHeader {
    display: none;
}

/**
 * ~Responsive
 * --------------------------------------------------
 */
@media screen and (min-width: $phone-landscape) {
    .stickyHeader {
        top: 9.2rem;
    }
}

@media screen and (min-width: $phone-landscape) and (orientation: landscape) {
    .stickyHeader {
        top: 9.6rem;
    }
}

@media screen and (min-width: $tablet-portrait) {
    .stickyHeader {
        top: 9.2rem;
    }
}

@media screen and (max-width: $phone-landscape-max) {
    .linkComponent {
        header {
            padding-right: 1rem;
            font-size: 1.4rem;
        }

        footer {
            font-size: 1.2rem;
        }
    }

    .linksTable.dashboard {
        .title {
            width: 50%;
        }
    }

    .stickyHeader {
        display: none;
    }
}
