@import '../../../scss/variables';

.brand {
    cursor: pointer;
    font-size: 2rem;
    font-weight: 400;
    text-indent: -15000rem;
    width: 12rem;
    background: url(../../../images/brand.png) no-repeat center left;
    background-size: cover;
    // z-index:1000;

    @media (max-width: 615px) {
        width: 27px;
    }
}

div.menu {
    margin-left: 1rem;

    [data-react-toolbox="menu"] {
        max-height: 400px !important;

        .outline {
            max-height: 400px !important;
        }

        ul {
            overflow-y: scroll;
            max-height: 400px !important;
        }
    }

    [data-react-toolbox="button"] {
        margin-right: -12rem;
        padding-right: 14rem;
        
        [data-react-toolbox="ripple"] {
            display: none;
        }
    }
}

.mainNav {
    display: flex;
    align-items: center;
}

.indicator {
    position: fixed;
    top: 0;
    width: 100%;
    background: $palette-pink-50;

    span[data-ref="value"] {
        background: $palette-pink-500;
    }

    &:not(.loading) {
        display: none;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/**
 * ~Responsive
 * --------------------------------------------------
 */
@media screen and (max-width: $phone-portrait-max) {
    .responsive.hideOnPhonePortrait {
        display: none;
    }
}

@media screen and (min-width: $phone-landscape) and (max-width: $phone-landscape-max) {
    .responsive.hideOnPhoneLandscape {
        display: none;
    }
}

@media screen and (max-width: $tablet-portrait-max) {
    .menu {
        [data-react-toolbox="chip"] {
            background: transparent;

            span {
                display: none;
            }
        }

        [data-react-toolbox="button"] {
            margin-right: 0;
            padding-right: 0;
        }
    }
}

@media screen and (min-width: $tablet-landscape) {
    .menu {
        margin-right: 11rem;
    }
}
