@import '../../../scss/variables';

.brand {
    cursor: pointer;
    font-size: 2rem;
    font-weight: 400;
    text-indent: -15000rem;
    width: 12rem;
    background: url(../../../images/brand.png) no-repeat center left;
    background-size: cover;
    // z-index:1000;

    @media (max-width: 615px) {
        width: 27px;
    }
}

div.menu {
    margin-left: 1rem;
    margin-right: 11rem;

    [data-react-toolbox="menu"] {
        max-height: 400px !important;

        .outline {
            max-height: 400px !important;
        }

        ul {
            overflow-y: scroll;
            max-height: 400px !important;
        }
    }

    [data-react-toolbox="button"] {
        margin-right: -12rem;
        padding-right: 14rem;
        
        [data-react-toolbox="ripple"] {
            display: none;
        }
    }
}

.mainNav {
    display: flex;
    align-items: center;
}

.navMenuDesktop {
    @media (max-width: 750px) {
        display: none;
    }
}

.navMenuMobile {
    display: none;

    div {
        border: none;
    }

    @media (max-width: 750px) {
        display: flex;
        width: 88%;
    }

    .dropdownWrapper {
        flex-grow: 2;

        [data-react-toolbox="dropdown"] {
            width: 125px;
            margin: auto;
            z-index: 200;

            ul {
                top: 20px;
            }
        }
    }

    div.menu {
        margin: auto;
    }

}

.indicator {
    position: fixed;
    top: 0;
    width: 100%;
    background: $palette-pink-50;

    span[data-ref="value"] {
        background: $palette-pink-500;
    }

    &:not(.loading) {
        display: none;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: ($device-tablet-portrait - 1)) {
    div.menu {
        [data-react-toolbox="chip"] {
            background: transparent;

            span {
                display: none;
            }
        }

        [data-react-toolbox="button"] {
            margin-right: 0;
            padding-right: 0;
        }
    }
}
