.container {
    margin: auto;
    padding: 2rem 0;
    width: 100%;
    background: #fff;
    box-shadow: 2px 2px 10px #888888;
    padding: 0;
}

.influencerList{
	background: #f3f3f3;
	width: 14em;
    display: inline-block;
}

.selectedInfluencer{
    background: white;
}

.influencer{
    [data-react-toolbox="list-item-text"] {
        width: 9em;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.rightPanel{
    width: 100%;
    vertical-align: top;
    display: inline-block;
    padding-left: 14em;
    margin-left: -14em;
    overflow: hidden;
}

.loader{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 4em;
}

.clockIcon{
    font-size: 7em;
}

.connectButton{
    padding: 0 5rem;
    color: white !important;
    background: rgb(230,62,79);
}

.connectButton:hover{
    background: rgb(210,42,59) !important;
}

.noProfiles{
    text-align: center;
    color: #B9B9B9;

    .message{
        color: #7C7C7C;
        font-size: 1.2em;
        max-width: 16em;
        white-space: normal;
        margin: 1.3em auto;
    }
}

.platforms{
    :global(.fa){
        height: 1.5em;
        width: 1.5em;
        color: white;
        text-align: center;
        line-height: 1.5em;
        vertical-align: middle;
        border-radius: .15em;
    }

    :global(.fa-facebook) {
        background: #3b5998;
    }

    :global(.fa-twitter) {
        background: #00aced;
    }
}

.confirm{
    text-align: center;
    color: #B9B9B9;

    .confirmButton{
        padding: 0 5rem;
        color: white !important;
        background: rgb(230,62,79);
    }

    .cancelButton{
        color: #212121 !important;
    }

    .preview{
        [data-react-toolbox="avatar"]{
            width: 7rem;
            height: 7rem;
            margin: 1em;
            font-size: 4rem;
            line-height: 7rem;
        }



        .profile{
        }
        .arrow{

        }
        .influ{

        }
    }
}

@media (min-width: 1000px) {

}
