<!--
TODO: add this to the App Settings page
<div className="form-group">
    <label for="source">Sources</label>
    <select id="source" className="form-group"></select>
</div>
-->

<!-- TODO: add this to toolbar menu -->
<aside id="sidebar" class="sidebar collapse" style="display: none">
    <div>
        <div class="stats-only stats-filter-group hide-publisher-role" data-attribute="platform">
            <header>
                Platforms
                <p class="stats-group-toggle" data-stats-group-id="platforms-list">Check:
                    <a class="check-all">All</a>&nbsp;|&nbsp;
                    <a class="check-none">None</a>
                </p>
            </header>
            <ul id="platforms-list"></ul>
        </div>
        <div class="stats-only hide-publisher-role stats-filter-group" data-attribute="site_name">
            <header>
                Sites
                <p class="stats-group-toggle" data-stats-group-id="platforms-list">Check:
                    <a class="check-all">All</a>&nbsp;|&nbsp;
                    <a class="check-none">None</a>
                </p>
            </header>
            <ul id="sites-list"></ul>
        </div>
    </div>
</aside>
<!-- /explore -->
<div id="main" class="grid-block">
    <div class="explore-only articleFilterMessage" style="text-align: center; display: none;">
        <h4>We're currently filtering results to a specific list of articles.
            <a role="button" class="btn btn-link clearArticleFilter">Clear Filter</a>
        </h4>
    </div>
    <div class="explore-only noResultsMessage" style="text-align: center; display: none;">
        <h4>We couldn't find any articles for your current search options.</h4>
    </div>
    <div id="selectable" class="grid-mode-only"></div>
    <div class="table-mode-only grid-block">
        <table cellpadding="0" cellspacing="0" border="0" class="table" width="100%" id="articleTable" style="max-width:100%"></table>
    </div>
</div>
<!-- Cloned for each article -->
<!-- move this to a separate component -->
<div id="proto">
    <div class="grid-item article not-saved not-shared" data-id="" data-client-id="">
        <div class="edit-article">
            <h2>Edit Article</h2>
            <form onsubmit="return false">
                <div class="utm-tags input-group">
                    <label class="input-group-addon">UTM Tag</label>
                    <input class="small-12 columns form-control" name="utm" placeholder="&utm_article=abc" pattern="(\?|\&)([^=]+)\=([^\&]+)" />
                </div>
            </form>
            <div class="tags">
                <a class="update-article highlight-on-hover tag">Done</a>
            </div>
        </div>
        <div class="article content radius">
            <div class="post">
                <img class="th" src="" onError="this.onerror=null;this.src='images/logo.svg';">
                <div class="ctr-group" style="width: 100%; height: .25rem; position: relative; margin-top: .5rem; background: #ddd;">
                    <div class="ctr_60_min_mean" style="height: .25rem; left:0; background-color: #FF80AB; bottom:0; position:absolute;"></div>
                    <div class="ctr_60_min" style="height: .25rem; left:0; background-color: #F50057; bottom:0; position:absolute;"></div>
                </div>
            </div>
            <div class="postText" data-equalizer-watch>
                <h6 class="client">
                        <a class="info highlight-on-hover">
                            <i class="fa fa-info-circle fa-lg"></i>
                        </a>
                        <span class="date"> by </span>
                        <span class="sitename"></span>
                    </h6>
                <h5 class="title highlight-on-hover">
                        <a class='url' target="_blank" href="">
                            <i class="fa fa-external-link highlight-on-hover"></i>
                        </a>
                    </h5>
                <p class="desc"></p>
                <p class="social"></p>
            </div>
            <div class="tags">
                <div class="related left-tag tag">
                    <a class="highlight-on-hover">Related</a>
                </div>
                <div class="hidden performance tag"></div>
                <!--
                <div class="visibility toggle tag">
                    <a class="toggle-disable highlight-on-hover">Disable</a>
                    <a class="toggle-enable highlight-on-hover">Enable</a>
                </div>
                -->
                <div class="edit-utm tag highlight-on-hover hide-internal_influencer-role hide-external_influencer-role">
                    <a class="highlight-on-hover">Edit</a>
                </div>
                <div class="share tag highlight-on-hover">
                    <div class="btn-group">
                        <a type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="highlight-on-hover">Share</a>
                        <ul class="dropdown-menu">
                            <li><a class="social-btn" data-platform="Facebook" data-url data-ucid><i class="fa fa-facebook"></i> Facebook</a></li>
                            <li><a class="social-btn" data-platform="Twitter" data-url data-ucid><i class="fa fa-twitter"></i> Twitter</a></li>
                            <li><a class="social-btn" data-platform="Tumblr" data-url data-description data-title data-ucid><i class="fa fa-tumblr"></i> Tumblr</a></li>
                            <li><a class="social-btn" data-platform="Pinterest" data-url data-image data-description data-ucid><i class="fa fa-pinterest"></i> Pinterest</a></li>
                            <li><a class="social-btn" data-platform="Google +" data-url data-ucid><i class="fa fa-google-plus"></i> Google+</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Template tags are not supported in IE -->
<!-- TODO: move these to separate components -->
<script id="disable-switch-tpl" type="text/template">
    <span class="round switch">
            <input id="disable-switch-for-<%= ucid %>" class="visibility toggle" data-id="<%= ucid %>" <%= isDisabled ? 'checked' : '' %> type="checkbox">
            <label for="disable-switch-for-<%= ucid %>"></label>
        </span>
</script>
<script id="partner-option-tpl" type="text/template">
    <option value="<%= id %>">
        <%= name %>
    </option>
</script>
<script id="score-tpl" type="text/template">
    <span class="score">rated
            <%= score %>
        </span>
</script>
<script id="source-option-tpl" type="text/template">
    <option value="<%= value %>">
        <%= label %>
    </option>
</script>
<script id="mtd-link-filter-checkbox-tpl" type="text/template">
    <li>
        <input id="<%= id %>" name="<%= name %>" value="<%= label %>" type="checkbox" checked />
        <label for="<%= id %>">&nbsp;
            <span>
                    <%= count %>
                </span>&nbsp;
            <a title="<%= label %>">
                <%= label %>
            </a>
        </label>
    </li>
</script>
<script id="copiable-link-tpl" type="text/template">
    <input id="<%= target %>" class="copiable" type="text" value="<%= url %>" readonly>
    <i class="copy-button fa fa-copy" data-clipboard-target="#<%= target %>"></i>
</script>
