@import '../../../scss/variables';

.footer {
    width: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem auto 5rem auto;
}

.addButton {
	margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}

.mainContent {
    overflow: hidden;
    height: calc(100vh - 5.6rem);
    max-height: calc(100vh - 5.6rem);
}

.isActive {
    background: $color-accent-bright;
}

.mobileList {
    max-height: calc(100vh - 5.6rem);
    overflow-x: hidden;
    overflow-y: scroll;
}

.listItem.isActive {
    .left :last-child > [data-react-toolbox="font-icon"] {
        color: rgba(255,255,255,0.54);
    }

    .itemContentRoot .itemText.primary {
        color: white;
    }

    .item.disabled:not(.checkboxItem) {
        opacity: 1;
    }
}

/**
 * ~Responsive
 * --------------------------------------------------
 */

@media screen and (min-width: $phone-landscape) {

    .mainContent {
        height: calc(100vh - 4.8rem);
        max-height: calc(100vh - 4.8rem);
    }

}

@media screen and (min-width: $tablet-portrait) {

    .mainContent {
        height: calc(100vh - 6.4rem);
        max-height: calc(100vh - 6.4rem);
    }
}
