@import '../../../scss/variables';

.footer {
    width: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem auto 5rem auto;
}

.addButton {
	margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}

.mainContent {
    overflow: hidden;
    height: calc(100vh - 5.6rem);
    max-height: calc(100vh - 5.6rem);
}

.isActive {
    background: $color-accent-bright;
}

.mobileList {
    max-height: calc(100vh - 5.6rem);
    overflow-x: hidden;
    overflow-y: scroll;
}

.listItem.isActive {
    .left :last-child > [data-react-toolbox="font-icon"] {
        color: rgba(255,255,255,0.54);
    }

    .itemContentRoot .itemText.primary {
        color: white;
        max-width: 10rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .item.disabled:not(.checkboxItem) {
        opacity: 1;
    }

    &:not(:hover) .right .iconMenu button[data-react-toolbox="button"].icon {
        visibility: visible;
    }
}

.menuItem {
    height: 3.8rem;

    .caption {
        font-size: 1.4rem;
    }
}


.prompt {
    color: rgba(0,0,0,0.87);
    font-size: 2rem;
    font-weight: 400;
    line-height: 4.6rem;
    text-align: center;
}

.subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.2rem;
    color: rgba(0,0,0,0.54);
}

.subheaderTitle {
    font-size: 1.6rem;
}

.newListForm {
    display: flex;
    align-items: center;
    margin: 0.6rem 1.2rem 1.2rem;
    border: thin solid #0288D1;
    border-radius: 0.4rem;
}

.input {
    padding: 0;

    .inputElement {
        padding: 0rem;
        font-size: 1.4rem;
        border-bottom: none;
    }

    .bar {
        display: none;
    }
}

.newListForm {
    display: none;
}

.activelyCreatingNewList .newListForm {
    display: flex;
}

.iconMenu {
    div[data-react-toolbox="menu"] {
        top: 3rem;
    }
}

/**
 * ~Responsive
 * --------------------------------------------------
 */

@media screen and (min-width: $phone-landscape) {

    .mainContent {
        height: calc(100vh - 4.8rem);
        max-height: calc(100vh - 4.8rem);
    }

}

@media screen and (min-width: $tablet-portrait) {

    .mainContent {
        height: calc(100vh - 4.6rem);
        max-height: calc(100vh - 4.6rem);
    }
}
