@import '../../../scss/variables';

.actions {
    display: flex;

    button[data-react-toolbox] {
        margin: 0 1rem;
        min-width: 0rem;
        text-indent: .25rem;
    }
}

.link {
	float: left;
    text-decoration: underline;
}

.linksTableContainer {
    margin: -1rem -1rem 0 -1rem;
    padding-bottom: 4rem;

    tbody {
        td {
            padding: .75rem 0;
            
            &:first-child {
                text-indent: 2rem;
            }

            a[href] {
                opacity: 1;
                color: $palette-blue-900;
                font-weight: 400;
                user-select: initial;
            }
        }

        tr:not(:hover) .actions {
            visibility: hidden;
        }
    }
}

.pagingNav {
    margin: auto;
    width: 200px;
    display: flex;
    justify-content: flex-end;
}

button[data-react-toolbox][class*="raised"]:not([disabled]):global(.saved) {
    color: $accent-blue;
}

.title {
    img {
        margin-right: 1rem;
        min-width: 12rem;
        max-width: 12rem;
        min-height: 8rem;
        max-height: 8rem;
        object-fit: cover;
    }
}
