@import '../../../scss/variables';


.linkItem {
	margin: auto;
    
    max-width: 750px;
    

    .leftSide {
        display: inline-block;
        width: 100px;
        margin-right: 10px;

        span {
            text-align: right;
            display: block;
            color: $gray-4;
            font-size: 14px;
            font-weight: bold;
        }

        .linkIcon {
            .default {

            }

            .published {

            }

            .scheduled {

            }
        }

        
    }

    .rightSide {
        
        background-color: $gray-1;
        border-bottom: 1px solid $gray-2;
        border-left: 1px solid $gray-2;
        border-right: 1px solid $gray-2;
        width: 600px;
        padding: 15px;

        display: inline-block;

        .articleImage {
            display: inline-block;
            background-size: cover;
            height: 90px;
            width: 120px;
            object-fit: cover;
            margin: 0 16px;
        }

        .articleDetails {
            display: inline-block;

            .articleTitle {
                font-size: 17px;
                max-width: 400px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .shortUrl {
                color: $gray-4;
            }
        }
    }

    .articleActions {
        display: flex;
        justify-content: flex-end;
    }
}

