@import '../../../scss/variables';

.enableScheduling {
    padding: 2.4rem 0;
    text-align: center;
}

.actions {
    display: flex;

    button[data-react-toolbox] {
        margin: 0 1rem;
        min-width: 0rem;
        text-indent: .25rem;
    }
}

.link {
	float: left;
    text-decoration: underline;
}

.linksTableContainer {
    margin-top: 2rem;
    padding-bottom: 4rem;


    .sectionDivider {
        height: 20px;
    }

    tbody {
        td {
            padding: .75rem 0;

            &:first-child {
                text-indent: 2rem;
            }

            a[href] {
                opacity: 1;
                color: $palette-blue-900;
                font-weight: 400;
                user-select: initial;
            }
        }

        tr:not(:hover) .actions {
            visibility: hidden;
        }
    }
}

.pagingNav {
    margin: auto;
    width: 200px;
    display: flex;
    justify-content: flex-end;
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

button[data-react-toolbox][class*="raised"]:not([disabled]):global(.saved) {
    color: $accent-blue;
}

.title {
    img {
        margin-right: 1rem;
        min-width: 12rem;
        max-width: 12rem;
        min-height: 8rem;
        max-height: 8rem;
        object-fit: cover;
    }
}

.fixedTopRight {
    position: fixed;
    right: 1rem;
    transform: translateY(1rem);
}
