 @import '../../../scss/variables';

.linkItem {
	margin: auto;
    margin-bottom: -0.1rem;
    max-width: 750px;
    height: 128px;

    .leftSide {
        display: inline-block;
        width: 100px;
        margin-right: 10px;

        span {
            text-align: right;
            display: block;
            color: $gray-4;
            font-size: 14px;
            font-weight: bold;
        }

        .linkIcon {

            font-size: 28px;
            text-align: right;
            display: block;

            .default {

            }

            .published {

            }

            .scheduled {

            }
        }

        
    }

    &:last-child {
        .rightSide {
            border-bottom-left-radius: .2rem;
            border-bottom-right-radius: .2rem;

        }
    }

    &:first-child {
        .rightSide {
            border-top-left-radius: .2rem;
            border-top-right-radius: .2rem;
        }
    }

    .rightSide {
        display: inline-block;
        padding: 15px;
        width: 600px;
        background-color: $palette-grey-100;
        box-shadow: 0px 2px 8px -3px rgba(0,0,0,0.27);

        :global(.fa):global([class*="square"]) {
            margin-right: 0.4rem;
        }

        .influencerAvatar {
            height: 0;

            [data-react-toolbox="avatar"] {
                top: 19px;
                right: 8px;
                border: 6px solid white;
                width: 5rem;
                height: 5rem;
            }
            
        }

        .articleImage {
            display: inline-block;
            background-size: cover;
            height: 90px;
            width: 120px;
            object-fit: cover;
            margin: 0 16px;
        }

        .articleDetails {
            display: inline-block;
            position: relative;
            bottom: 29px;

            .articleTitle {
                font-size: 17px;
                max-width: 400px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .shortUrl {
                color: $gray-4;
            }
        }
    }

    .articleActions {
        display: none;
    }

    &:hover {
        .rightSide {
            background-color: white;
        }

        .articleActions {
            display: flex;
            justify-content: flex-end;
            width: 400px;
            text-align: right;
            float: right;
            position: relative;
            bottom: 25px;
            height: 0px;
        }
    }
}

