.loadMoreButton {
    display: block;
	margin: 1.4rem auto;
    margin-bottom: 50px;
}

.queueContainer {
    width: 100%;
}

.loadingIndicator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scheduledPostAmount {
    padding: 2.4rem;
    font-size: 2rem;
}

.loadMoreContainer {
    padding: 1rem;
    padding-bottom: 5rem;
}

.loadMoreContainer.mini {
    padding-left: 8rem;
}
