.article {
    a {
        display: inline-block;
        margin-top: 1rem;
        padding: 1.5rem;
        color: #aaa;
        font-weight: bold;
        text-transform: uppercase;
        border: .25rem solid #aaa;

        &:hover {
            text-decoration: none;
        }
    }

    p {
        margin-bottom: 2rem;
        font-size: 1.6rem;
    }
}

.message {
    padding: 2.4rem 0;
    color: rgba(0,0,0,0.54);
    font-size: 2rem;
    text-align: center;

    a {
        cursor: pointer;
    }
}

.disclaimer {
    padding-top: 7.2rem;
    color: rgba(0,0,0,0.54);
    font-size: 2rem;
    text-align: center;
}

/**
 * ~Auth Options
 * -------------------------------------------------- */
.authOptions {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 37rem;
}

.socialIcons {
    margin: 1.2rem 0;
    padding: 0 2.4rem;
    color: white;
    cursor: pointer;
    height: 5.6rem;
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 5.6rem;
    border-radius: 5.6rem;

    &:global(.facebook) {
        background: #3b5998;
    }

    &:global(.google) {
        background: #ea4335;
    }

    &:global(.twitter) {
        background: #00aced;
    }

    &:hover {
        color: white;
    }
}

.icon {
    margin-right: 2.4rem;
}


.brand {
    display: block;
    margin: 6.4rem auto;
    width: 180px;
    text-indent:-15000rem;
    background: url(../../../images/brand.png) no-repeat;
    background-size: contain;
}


.heading {
    margin: 8.6rem auto;
    color: rgba(0,0,0,0.54);
    font-size: 8.6rem;
    font-weight: 300;
    text-align: center;
}

.scrollable {
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.footnote{
    color: #a3a3a3;
    font-size: 1.4rem;
    font-weight: 700;
    margin: 3rem 0 0 0;
    display: block;
    cursor: pointer;
}
