.article {
    a {
        display: inline-block;
        margin-top: 1rem;
        padding: 1.5rem;
        color: #aaa;
        font-weight: bold;
        text-transform: uppercase;
        border: .25rem solid #aaa;

        &:hover {
            text-decoration: none;
        }
    }

    p {
        margin-bottom: 2rem;
        font-size: 1.6rem;
    }
}

.heading {
    margin-top: 1rem;
    color: gray;
    font-size: 2.4rem;
    line-height: 2.8rem;
    font-weight: normal;
}

.socialIcons {
    display: inline-block;
    margin: 0 1rem;
    width: 50px;
    height: 50px;
    color: white;
    text-align: center;
    cursor: pointer;
    background: gray;
    border-radius: 50px;

    &:first-of-type {
        margin-left: 0;
    }

    &:hover {
        color: white;
    }

    i {
        line-height: 50px;
    }

    &:global(.facebook) {
        background: #3b5998;
    }

    &:global(.google) {
        background: #ea4335;
    }

    &:global(.twitter) {
        background: #00aced;
    }
}

.brand {
    display: block;
    margin: auto;
    width: 180px;
    text-indent:-15000rem;
    background: url(../../../images/brand.png) no-repeat;
    background-size: contain;
}
